In [ ]:
#dcc.Interval(id='initial-load', interval=500, max_intervals=1),  # triggers once on load
            #dcc.Interval(id='auto-refresh', interval=300000, n_intervals=0),  # triggers every 5 minutes
            navbar,
            offcanvas,
            # Top Navigation Header 
            dbc.Row([
                #Logo Column
                dbc.Col(
                    html.Img(src="assets/GSDS_Logo.jpg", height="40px"),  # Adjust height as needed
                    width="auto", className="p-3"
                ),
                dbc.Col(dcc.Checklist(options=[{"label": " Today", "value": "today"}], value=["today"], id="date-filter"), 
                        width=1, xs=2, sm=2, md=2, lg=1, xl=1, xxl=1, className="p-3 mt-2"),  #, className="mb-2"
                dbc.Col(dcc.DatePickerRange(
                    id='date-picker',
                    start_date="10-11-23",  #df['booking_date'].min()
                    end_date="21-04-25",  #df['booking_date'].max()
                    display_format='DD/MM/YYYY'
                ), width=4, xs=12, sm=12, md=3, lg=4, className="p-3 rounded"),  #, className="p-2"
            ]),
            dbc.Row([
                dbc.Col(dcc.Dropdown(
                    id="boarding-station",
                    options=[
                        {"label": "Ebute Metta", "value": "Mobolaji Johnson Station Ebute Metta"},
                        {"label": "Agege", "value": "Babatunde Raji Fashola Station Agege"},
                        {"label": "Agbado", "value": "Lateef Kayode Jakande Station Agbado"},
                        {"label": "Kajola", "value": "Professor Yemi Oshinbajo Station Kajola"},
                        {"label": "Papalanto", "value": "Olu Funmilayo Ransome Kuti Papalanto"},
                        {"label": "Abeokuta", "value": "Professor Wole Soyinka Station Abeokuta"},
                        {"label": "Olodo", "value": "Aremo Olusegun Osoba Olodo"},
                        {"label": "Omi-Adio", "value": "Ladoke Akintola Station Omi-Adio"},
                        {"label": "Moniya", "value": "Obafemi Awolowo Station Moniya"},
                    ],
                    value=None,
                    placeholder="Boarding Station",
                    className="rounded"
                ), xs=12, sm=12, md=2, className="p-3"), #give width
                dbc.Col(dcc.Dropdown(
                    id="route-name",   #'Lagos-Ibadan', 'Ibadan-Lagos', 'KAJOLA-APAPA','APAPA-KAJOLA', 'LAGOS-IBADAN_LITS', 'KAJOLA-APAPA_BAT','Lagos-Ibadan_Afternoon', 'Ibadan-Lagos_Afternoon'
                    options=[
                        {"label": "LITS", "value": "Lagos-Ibadan"},
                        {"label": "LITS", "value": "Ibadan-Lagos"},
                        {"label": "LITS", "value": "LAGOS-IBADAN_LITS"},
                        {"label": "LITS", "value": "Lagos-Ibadan_Afternoon"},
                        {"label": "LITS", "value": "Ibadan-Lagos_Afternoon"},
                        {"label": "BAT", "value": "APAPA-KAJOLA"},
                        {"label": "BAT", "value": "KAJOLA-APAPA"},
                        {"label": "BAT", "value": "KAJOLA-APAPA_BAT"},
                    ],
                    value=None,
                    placeholder="Route Name", 
                    className="rounded"
                ), xs=6, sm=6, md=2, className="p-3"), #give width
                dbc.Col(dcc.Dropdown(
                    id="coach-type",
                    options=[
                        {"label": "First Class", "value": "First Class"},
                        {"label": "Business Class", "value": "Business Class"},
                        {"label": "Standard Class", "value": "Standard Class"},
                    ],
                    value=None,
                    placeholder="Coach Type", 
                    className="rounded"
                ), xs=6, sm=6, md=2, className="p-3"),
                dbc.Col(dcc.Input(id="user-name", type="text", placeholder="User Name", className="form-control rounded border p-1.5"), 
                        xs=6, sm=6, md=2, className="p-3"),
                dbc.Col(dcc.Input(id="pnr-number", type="text", placeholder="PNR Number", className="form-control rounded border p-1.5"), 
                        xs=6, sm=6, md=2, className="p-3"),
                dbc.Col(dbc.Button("Clear", id="clear-filters", color="success", className="w-100"), 
                        xs=12, sm=12, md=1, className="p-3"),
            ], className="bg-white shadow rounded"),

            # KPI Indicators
            dbc.Row([
                #Left side column for KPI indicators
                dbc.Col([
                    #Row for first KPI Indicators
                    dbc.Row([
                        dbc.Col(html.Div([
                            html.H5("Tickets", className="bg-warning text-white text-center"),
                            html.H4(id ="kpi-tickets", className="text-center") #children= f"{df['no_of_passengers'].sum():,}",
                        ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=4,xs=6, sm=6, md=4),
                        dbc.Col(html.Div([
                            html.H5("Transactions", className="bg-warning text-white text-center"),
                            html.H4(id="kpi-transactions", className="text-center") #children=f"{len(df):,}",
                        ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=4,xs=6, sm=6, md=4),
                        dbc.Col(html.Div([
                            html.H5("Validated Tickets", className="bg-warning text-white text-center"),
                            html.H4(id="validated-tickets", className="text-center") #children=f"{df['nrc_tkt_rev'].sum().astype(int):,}",
                        ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=4, xs=12, sm=12, md=4),
                    ], className="mb-3"),
                    #Row for second KPI Indicators
                    dbc.Row([
                        dbc.Col(html.Div([
                            html.H5("Total Sales", className="bg-warning text-white text-center"), 
                            html.H4(id="total-sales", className="text-center") #children=f"{df['total_fare'].sum():,}",
                        ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=6, xs=6, sm=6, md=6),
                        dbc.Col(html.Div([
                            html.H5("Online Sales", className="bg-warning text-white text-center"),
                            html.H4(id="online-sales", className="text-center") # children=f"{df[df['type']=='ONLINE']['total_fare'].sum():,}",
                        ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=6,xs=6, sm=6, md=6),
                        dbc.Col(html.Div([
                            html.H5("TOM Sales", className="bg-warning text-white text-center"),
                            html.H4(id="tom-sales", className="text-center") # children=f"{df[df['type']=='OFFLINE']['total_fare'].sum():,}",
                        ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=6,xs=6, sm=6, md=6),
                        dbc.Col(html.Div([
                            html.H5("NRC Revenue", className="bg-warning text-white text-center"),
                            html.H4(id="nrc-revenue", className="text-center") # children=f"{df['nrc_tkt_rev'].sum().astype(int):,}",
                        ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=6, xs=6, sm=6, md=6),
                    ], className="mb-4"),
                ],className="mt-4", xs=12, lg=6),

                #Right side column for Chart
            dbc.Col([
                    html.Div([
                        html.H3("Ticket Sale", className="bg-success text-white text-center rounded m-0"),
                        dcc.Graph(id="daily-transactions",                                       #config={'responsive': True}
                                style={'height': '100%', 'width': '100%'})
                    ], className="bg-white shadow rounded mb-4 border p-2")
                ], className="mt-4", xs=12, lg=6),
            ]),
            
            # html.Br(),
            dbc.Row([
                dbc.Col(html.H4("Summary Table", className="bg-success text-white text-center rounded m-0"), width=12)
            ]),

            dbc.Row([
                dbc.Col(dash_table.DataTable(
                    id='summary-table',
                    columns=[
                        {'id': 'booking_from', 'name': 'Station', 'type': 'text'},
                        {'id': 'total_fare', 'name': 'Ticket Sales', 'type': 'numeric'},
                        {'id': 'medical', 'name': 'Medical', 'type': 'numeric'},
                        {'id': 'insurance', 'name': 'Insurance', 'type': 'numeric'},
                        {'id': 'stamp_duty', 'name': 'Stamp Duty', 'type': 'numeric'},
                        {'id': 'total_tkt_revenue', 'name': 'Total Ticket Revenue', 'type': 'numeric'},
                        {'id': 'total_cov_fee', 'name': 'Total Coverage Fee', 'type': 'numeric'},
                        {'id': 'nrc_cov_fee', 'name': 'NRC Coverage Fee', 'type': 'numeric'},
                        {'id': 'nrc_tkt_rev', 'name': 'NRC Ticket Revenue', 'type': 'numeric'},
                        {'id': 'gsd_tkt_rev', 'name': 'GSD Ticket Revenue', 'type': 'numeric'},
                        {'id': 'gsd_cov_fee', 'name': 'GSD Coverage Fee', 'type': 'numeric'},
                        {'id': 'icrc_tkt_rev', 'name': 'ICRC Ticket Revenue', 'type': 'numeric'},
                        {'id': 'no_of_passengers', 'name': 'No of Passengers', 'type': 'numeric'},
                    ],
                    style_table={'overflowX': 'auto', 'overflowY': 'scroll'},
                    style_header={
                        'backgroundColor': 'rgb(230, 230, 230)',
                        'fontWeight': 'bold',
                        'textAlign': 'center',
                    },
                    style_cell={
                        'padding': '10px',
                        'border': '1px solid #ddd',
                        'fontFamily': 'Arial, sans-serif',
                        'minWidth': '150px', 'width': '150px', 'maxWidth': '150px',
                    },
                    style_cell_conditional=[
                        {
                            'if': {'column_id': 'booking_from'},
                            'textAlign': 'left',
                            'minWidth': '250px', 'width': '250px', 'maxWidth': '250px'
                        }
                    ],
                    filter_action='native',
                    sort_action='native',
                ), width=12, className="shadow rounded border mb-5")
            ]),
            footer,
            dcc.Location(id="url", refresh=False),

In [ ]:
import os
import time
from dash import html, dcc, callback, Output, Input, dash_table, State
#import dash_ag_grid as dag
from dash import dash_table
from django_plotly_dash import DjangoDash
import dash_bootstrap_components as dbc
from dashboard.utils import get_cached_dashboard_data, get_booking_data
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from datetime import datetime
# from utils import get_booking_data #get_validator_data, get_user_data

# from dashboard.models import dashboard
from django.core.cache import cache
import psycopg2
from dotenv import load_dotenv
load_dotenv()

#for testing
import redis
import logging

#Logging setup
logging.basicConfig(level=logging.DEBUG)
logger = logging.getLogger(__name__)

LOGO=""

# Offcanvas component
offcanvas = dbc.Offcanvas(
    [
        html.P("Offcanvas content goes here..."),
        dbc.Nav(
            [
                dbc.NavLink("Home", href="/", active="exact"),
                dbc.NavLink("Station", href="station/", active="exact"),
                dbc.NavLink("User", href="user/", active="exact"),
                dbc.NavLink("Summary", href="summary/", active="exact"),
            ],
            vertical=True,
            pills=True,
        ),
    ],
    id="offcanvas",
    title="Menu",
    is_open=False,
    placement="start",
)

# Navbar with optional Collapse wrapping the toggle button
# Navbar with no spacing on the left
navbar = dbc.Navbar(
    dbc.Container(
        [
            dbc.Row(
                [
                    dbc.Col(
                        dbc.Button(
                            "☰",
                            id="open-offcanvas",
                            n_clicks=0,
                            color="light",
                            className="p-0 m-0 bg-success border-0 text-white",  # no margin or border
                        ),
                        width="auto",
                        className="p-0 m-0",  # remove space from column
                    ),
                    dbc.Col(
                        html.A(
                            dbc.NavbarBrand("Ticket Booking Dashboard", className="ms-2"),
                            href="/",
                            style={"textDecoration": "none"},
                        ),
                        width="auto",
                    ),
                    dbc.Col(
                        html.A(
                            dbc.NavbarBrand("Logout", className="ms-2"),
                            href="/logout",
                        )
                    )
                ],
                align="center",
                className="g-0",
            ),
        ],
        fluid=True,  # removes container's side spacing
        #className="p-0",  # just in case
    ),
    color="success",
    dark=True,
    #className="p-0",  # navbar padding reset
)


#Copyright © 2025 Ticket Booking System
footer = dbc.Container(
    dbc.Row(
        dbc.Col(
            html.Small("Copyright © 2025 Ticket Booking System",
                       className="text-center text-white"),
            width=12
        )
    ),
    fluid=True,
    className="bg-success py-3 mt-auto"
)


#Initialize the Dash app
dashboard_app = DjangoDash('Dashboard', external_stylesheets=[dbc.themes.BOOTSTRAP, dbc.icons.BOOTSTRAP],
                 external_scripts=['https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.0.0-rc.2/plotly.min.js'],
                 add_bootstrap_links=True)


dashboard_app.layout = dbc.Container([
    
    #dcc.Interval(id='initial-load', interval=500, max_intervals=1),  # triggers once on load
    #dcc.Interval(id='auto-refresh', interval=300000, n_intervals=0),  # triggers every 5 minutes
    navbar,
    offcanvas,
    # Top Navigation Header 
    dbc.Row([
        #Logo Column
        dbc.Col(
            html.Img(src="assets/GSDS_Logo.jpg", height="40px"),  # Adjust height as needed
            width="auto", className="p-3"
        ),
        dbc.Col(dcc.Checklist(options=[{"label": " Today", "value": "today"}], value=["today"], id="date-filter"), 
                width=1, xs=2, sm=2, md=2, lg=1, xl=1, xxl=1, className="p-3 mt-2"),  #, className="mb-2"
        dbc.Col(dcc.DatePickerRange(
            id='date-picker',
            start_date="10-11-23",  #df['booking_date'].min()
            end_date="21-04-25",  #df['booking_date'].max()
            display_format='DD/MM/YYYY'
        ), width=4, xs=12, sm=12, md=3, lg=4, className="p-3 rounded"),  #, className="p-2"
    ]),
    dbc.Row([
        dbc.Col(dcc.Dropdown(
            id="boarding-station",
            options=[
                {"label": "Ebute Metta", "value": "Mobolaji Johnson Station Ebute Metta"},
                {"label": "Agege", "value": "Babatunde Raji Fashola Station Agege"},
                {"label": "Agbado", "value": "Lateef Kayode Jakande Station Agbado"},
                {"label": "Kajola", "value": "Professor Yemi Oshinbajo Station Kajola"},
                {"label": "Papalanto", "value": "Olu Funmilayo Ransome Kuti Papalanto"},
                {"label": "Abeokuta", "value": "Professor Wole Soyinka Station Abeokuta"},
                {"label": "Olodo", "value": "Aremo Olusegun Osoba Olodo"},
                {"label": "Omi-Adio", "value": "Ladoke Akintola Station Omi-Adio"},
                {"label": "Moniya", "value": "Obafemi Awolowo Station Moniya"},
            ],
            value=None,
            placeholder="Boarding Station",
            className="rounded"
        ), xs=12, sm=12, md=2, className="p-3"), #give width
        dbc.Col(dcc.Dropdown(
            id="route-name",   #'Lagos-Ibadan', 'Ibadan-Lagos', 'KAJOLA-APAPA','APAPA-KAJOLA', 'LAGOS-IBADAN_LITS', 'KAJOLA-APAPA_BAT','Lagos-Ibadan_Afternoon', 'Ibadan-Lagos_Afternoon'
            options=[
                {"label": "LITS", "value": "Lagos-Ibadan"},
                {"label": "LITS", "value": "Ibadan-Lagos"},
                {"label": "LITS", "value": "LAGOS-IBADAN_LITS"},
                {"label": "LITS", "value": "Lagos-Ibadan_Afternoon"},
                {"label": "LITS", "value": "Ibadan-Lagos_Afternoon"},
                {"label": "BAT", "value": "APAPA-KAJOLA"},
                {"label": "BAT", "value": "KAJOLA-APAPA"},
                {"label": "BAT", "value": "KAJOLA-APAPA_BAT"},
            ],
            value=None,
            placeholder="Route Name", 
            className="rounded"
        ), xs=6, sm=6, md=2, className="p-3"), #give width
        dbc.Col(dcc.Dropdown(
            id="coach-type",
            options=[
                {"label": "First Class", "value": "First Class"},
                {"label": "Business Class", "value": "Business Class"},
                {"label": "Standard Class", "value": "Standard Class"},
            ],
            value=None,
            placeholder="Coach Type", 
            className="rounded"
        ), xs=6, sm=6, md=2, className="p-3"),
        dbc.Col(dcc.Input(id="user-name", type="text", placeholder="User Name", className="form-control rounded border p-1.5"), 
                 xs=6, sm=6, md=2, className="p-3"),
        dbc.Col(dcc.Input(id="pnr-number", type="text", placeholder="PNR Number", className="form-control rounded border p-1.5"), 
                xs=6, sm=6, md=2, className="p-3"),
        dbc.Col(dbc.Button("Clear", id="clear-filters", color="success", className="w-100"), 
                xs=12, sm=12, md=1, className="p-3"),
    ], className="bg-white shadow rounded"),

    # KPI Indicators
    dbc.Row([
        #Left side column for KPI indicators
        dbc.Col([
            #Row for first KPI Indicators
            dbc.Row([
                dbc.Col(html.Div([
                    html.H5("Tickets", className="bg-warning text-white text-center"),
                    html.H4(id ="kpi-tickets", className="text-center") #children= f"{df['no_of_passengers'].sum():,}",
                ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=4,xs=6, sm=6, md=4),
                dbc.Col(html.Div([
                    html.H5("Transactions", className="bg-warning text-white text-center"),
                    html.H4(id="kpi-transactions", className="text-center") #children=f"{len(df):,}",
                ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=4,xs=6, sm=6, md=4),
                dbc.Col(html.Div([
                    html.H5("Validated Tickets", className="bg-warning text-white text-center"),
                    html.H4(id="validated-tickets", className="text-center") #children=f"{df['nrc_tkt_rev'].sum().astype(int):,}",
                ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=4, xs=12, sm=12, md=4),
            ], className="mb-3"),
            #Row for second KPI Indicators
            dbc.Row([
                dbc.Col(html.Div([
                    html.H5("Total Sales", className="bg-warning text-white text-center"), 
                    html.H4(id="total-sales", className="text-center") #children=f"{df['total_fare'].sum():,}",
                ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=6, xs=6, sm=6, md=6),
                dbc.Col(html.Div([
                    html.H5("Online Sales", className="bg-warning text-white text-center"),
                    html.H4(id="online-sales", className="text-center") # children=f"{df[df['type']=='ONLINE']['total_fare'].sum():,}",
                ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=6,xs=6, sm=6, md=6),
                dbc.Col(html.Div([
                    html.H5("TOM Sales", className="bg-warning text-white text-center"),
                    html.H4(id="tom-sales", className="text-center") # children=f"{df[df['type']=='OFFLINE']['total_fare'].sum():,}",
                ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=6,xs=6, sm=6, md=6),
                dbc.Col(html.Div([
                    html.H5("NRC Revenue", className="bg-warning text-white text-center"),
                    html.H4(id="nrc-revenue", className="text-center") # children=f"{df['nrc_tkt_rev'].sum().astype(int):,}",
                ], className="bg-white p-2 rounded text-dark mb-4 border border-warning shadow"), width=6, xs=6, sm=6, md=6),
            ], className="mb-4"),
        ],className="mt-4", xs=12, lg=6),

        #Right side column for Chart
       dbc.Col([
            html.Div([
                html.H3("Ticket Sale", className="bg-success text-white text-center rounded m-0"),
                dcc.Graph(id="daily-transactions",                                       #config={'responsive': True}
                        style={'height': '100%', 'width': '100%'})
            ], className="bg-white shadow rounded mb-4 border p-2")
        ], className="mt-4", xs=12, lg=6),
    ]),
    
    # html.Br(),
    dbc.Row([
        dbc.Col(html.H4("Summary Table", className="bg-success text-white text-center rounded m-0"), width=12)
    ]),

    dbc.Row([
        dbc.Col(dash_table.DataTable(
            id='summary-table',
            columns=[
                {'id': 'booking_from', 'name': 'Station', 'type': 'text'},
                {'id': 'total_fare', 'name': 'Ticket Sales', 'type': 'numeric'},
                {'id': 'medical', 'name': 'Medical', 'type': 'numeric'},
                {'id': 'insurance', 'name': 'Insurance', 'type': 'numeric'},
                {'id': 'stamp_duty', 'name': 'Stamp Duty', 'type': 'numeric'},
                {'id': 'total_tkt_revenue', 'name': 'Total Ticket Revenue', 'type': 'numeric'},
                {'id': 'total_cov_fee', 'name': 'Total Coverage Fee', 'type': 'numeric'},
                {'id': 'nrc_cov_fee', 'name': 'NRC Coverage Fee', 'type': 'numeric'},
                {'id': 'nrc_tkt_rev', 'name': 'NRC Ticket Revenue', 'type': 'numeric'},
                {'id': 'gsd_tkt_rev', 'name': 'GSD Ticket Revenue', 'type': 'numeric'},
                {'id': 'gsd_cov_fee', 'name': 'GSD Coverage Fee', 'type': 'numeric'},
                {'id': 'icrc_tkt_rev', 'name': 'ICRC Ticket Revenue', 'type': 'numeric'},
                {'id': 'no_of_passengers', 'name': 'No of Passengers', 'type': 'numeric'},
            ],
            style_table={'overflowX': 'auto', 'overflowY': 'scroll'},
            style_header={
                'backgroundColor': 'rgb(230, 230, 230)',
                'fontWeight': 'bold',
                'textAlign': 'center',
            },
            style_cell={
                'padding': '10px',
                'border': '1px solid #ddd',
                'fontFamily': 'Arial, sans-serif',
                'minWidth': '150px', 'width': '150px', 'maxWidth': '150px',
            },
            style_cell_conditional=[
                {
                    'if': {'column_id': 'booking_from'},
                    'textAlign': 'left',
                    'minWidth': '250px', 'width': '250px', 'maxWidth': '250px'
                }
            ],
            filter_action='native',
            sort_action='native',
        ), width=12, className="shadow rounded border mb-5")
    ]),
    footer,
    dcc.Location(id="url", refresh=False),
], fluid=True, className="bg-white")


@dashboard_app.callback(
    Output("offcanvas", "is_open"),  
    Input("open-offcanvas", "n_clicks"),  
    State("offcanvas", "is_open"),
)
def toggle_offcanvas(n1, is_open):
    if n1:
        return not is_open
    return is_open


# Callbacks to make the dashboard interactive
@dashboard_app.callback(  
    Output("kpi-tickets", "children"),
    Output("kpi-transactions", "children"),
    Output("validated-tickets", "children"),
    Output("online-sales", "children"),
    Output("tom-sales", "children"),
    Output("total-sales", "children"),
    Output("nrc-revenue", "children"),
    Output("daily-transactions", "figure"),
    Output("summary-table", "data"),
    #Output("summary-table", "columns"),
    #Inputs
    #Input("auto-refresh", "n_intervals"),
    #Input("initial-load", "n_intervals"),
    Input("date-filter", "value"),
    Input("date-picker", "start_date"),
    Input("date-picker", "end_date"),
    Input("boarding-station", "value"),
    Input("route-name", "value"),
    Input("coach-type", "value"),
    Input("user-name", "value"),
    Input("pnr-number", "value"),
    #Input("clear-filters", "n_clicks"),
)


def update_dashboard(date_filter, start_date, end_date, station, route,  coach, username, pnr):  #clear_clicks
    try:
        booking_data = get_booking_data()
        dff = pd.DataFrame(booking_data)
        dff.head()
        print("The length of the dataframe is:", len(dff))

        print(f"Today date:{date_filter} (Type: {type(date_filter)})")
        print(f"Start Date:{start_date} (Type: {type(start_date)})")
        print(f"End Date:{end_date} (Type: {type(end_date)})")
        print(f"Station name: {station} (Type: {type(station)})")
        print(f"Route name: {route} (Type: {type(route)})")
        print(f"Coach type: {coach} (Type: {type(coach)})")
        print(f"User name: {username} (Type: {type(username)})")
        print(f"PNR Number: {pnr} (Type: {type(pnr)})")
        print(f"\n===== DEBUG: DataFrame being filtered =====")

        # Convert start_date and end_date to native date
        start_date = pd.to_datetime(start_date).date()
        end_date = pd.to_datetime(end_date).date()
        print(f"Start Date after filtering:{start_date} (Type: {type(start_date)})")
        print(f"End Date after filtering:{end_date} (Type: {type(end_date)})")

        # Convert 'booking_date' to native date
        dff["booking_date"] = pd.to_datetime(dff["booking_date"]).dt.date

        if "today" in date_filter:
            today_date = datetime.today().date()
            print(today_date)
            dff = dff[dff["booking_date"] == today_date]
        else:
            # Filter the dataframe
            dff = dff[(dff["booking_date"] >= start_date) & (dff["booking_date"] <= end_date)]

        print(f"[INFO] DataFrame now has {len(dff)} records after date filtering.")

        #Filter by boarding station
        if station:
            dff = dff[dff["booking_from"] == station]
        print(type(station))
        print(f"[INFO] Filtered by Station: {station}. Remaining records: {len(dff)}")

        #filter by coach type
        if coach:
            dff = dff[dff["coach_type_name"] == coach]
        print(type(coach))
        print(f"[INFO] Filtered by Coach Type: {coach}. Remaining records: {len(dff)}")

        ##filter by user name
        if username:
            dff = dff[dff["user_name"] == username]
        print(type(username))
        print(f"[INFO] Filtered by User Name: {username}. Remaining records: {len(dff)}")

        #filter by pnr input
        if pnr:
            dff = dff[dff["pnr_number"] == pnr]
        print(type(pnr))
        print(f"[INFO] Filtered by PNR: {pnr}. Remaining records: {len(dff)}")

        # #clear all filters
        # if clear_clicks:
        #     date_filter = None
        #     start_date = None
        #     end_date = None
        #     station = None
        #     route = None
        #     coach = None 
        #     username = None
        #     pnr = None

        # Debugging final dataset before visualization
        print(f"\n===== DEBUG: Final Filtered DataFrame =====")
        print(dff)  # Show first few rows of the final DataFrame
        print(f"[INFO] Final DataFrame contains {len(dff)} rows.")

        #update the Kpi indicators
        tickets_value = dff['no_of_passengers'].sum()
        transactions_value = len(dff)
        validated_ticket_value = 7238723   #len(validator_dff)
        online_value = dff[dff['type']=='ONLINE']['total_fare'].sum()
        tom_value = dff[dff['type']=='OFFLINE']['total_fare'].sum()
        total_sales_value = dff["total_fare"].sum()
        nrc_rev_value = dff['nrc_tkt_rev'].sum().astype(int)


        kpi_tickets = f"{tickets_value:,}"
        kpi_transactions = f"{transactions_value:,}"
        validated_tickets = f"{validated_ticket_value:,}"
        total_sales = f"{total_sales_value:,}"
        online_sales = f"{online_value:,}"
        tom_sales = f"{tom_value:,}"
        nrc_rev = f"{nrc_rev_value:,}"

        print("\n===== DEBUG: KPI Values =====")
        print(f"Total Tickets Sold: {kpi_tickets}")
        print(f"Total Transactions: {kpi_transactions}")
        print(f"Validated Tickets: {validated_tickets}")
        print(f"Total Sales Amount: {total_sales}")
        print(f"Total Sales Amount: {online_sales}")
        print(f"Total Sales Amount: {tom_sales}")
        print(f"Total Sales Amount: {nrc_rev}")

        #Updating the Charts 
        daily_transaction_dff = dff.groupby("booking_date")["total_fare"].sum().reset_index()
        updated_fig1 = px.line(daily_transaction_dff, x="booking_date", y="total_fare",
                                labels={"value": "Total Sales", "booking_date": "Date"}, title="Total Sales by Date")
        
        summary_dff = dff.groupby('booking_from').agg({
        'total_fare': 'sum',
        'medical': 'sum',
        'insurance':'sum',
        'stamp_duty': 'sum',
        'total_tkt_revenue': 'sum',
        'total_cov_fee': 'sum',
        'nrc_cov_fee':'sum',
        'nrc_tkt_rev':'sum',
        'gsd_tkt_rev':'sum',
        'gsd_cov_fee':'sum',
        'icrc_tkt_rev':'sum', 
        'no_of_passengers':'count'
        }).reset_index()

        updated_table = summary_dff.to_dict('records')

        return kpi_tickets, kpi_transactions, validated_tickets, total_sales, online_sales, tom_sales, nrc_rev, updated_fig1, updated_table
    except Exception as e:
        print("Callback Error:", e)
        return "Err", "Err", "Err", "Err", "Err", "Err", "Err", {}, []
# #Callback to clear all filters
# @dashboard_app.callback(
#     Output("date-filter", "value"),
#     Output("date-picker", "start_date"),
#     Output("date-picker", "end_date"),
#     Output("boarding-station", "value"),
#     Output("route-name", "value"),
#     Output("coach-type", "value"),
#     Output("user-name", "value"),
#     Output("pnr-number", "value"),
#     Input("clear-filters", "n_clicks")
# )
# def clear_filters(n_clicks):
#     return None, None, None, None, None, None, None, None

In [ ]:
celery -A interactive_dashboard worker --pool=solo --loglevel=info & celery -A interactive_dashboard beat --pool=solo --loglevel=info

from dashboard.tasks import update_dashboard_data
update_dashboard_data.delay()


celery -A interactive_dashboard worker -l info



#hmtl 
 dbc.Button(
            html.I(className="bi bi-layout-text-sidebar"),
            id="open-offcanvas-scrollable",
            color="success",
            className="ms-2",
            n_clicks=0,
            size="lg",
        ),




# Callback for Offcanvas Toggle
@dashboard_app.callback(
    Output("offcanvas-scrollable", "is_open"),
    Input("open-offcanvas-scrollable", "n_clicks"),
    State("offcanvas-scrollable", "is_open"),
)
def toggle_offcanvas_scrollable(n1, is_open):
    if n1:
        return not is_open
    return is_open

In [ ]:
dcc.Interval(id='initial-load', interval=500, max_intervals=1),  # triggers once on load

 Input("initial-load", "n_intervals"),

old autorefresh

In [ ]:
dcc.Interval(id="interval-update", interval=60000, n_intervals=0),

In [ ]:
# #Callback to autorefesh the data
# @dashboard_app.callback(
#     Output("dummy-output", "children"),
#     Input("interval-update", "n_intervals"),
# )
# def refresh_data(n_intervals):
#     global df
#     try:
#         logger.debug("Refreshing data from get_data().")
#         df = get_data()
#         logger.debug("Data refersh successful.")
#     except Exception as e:
#         logger.error(f"Error in refresh_data(): {e}", exc_info=True)
#         return ""

In [ ]:
cursor.execute("""
            SELECT id, booking_date, booking_from, booking_id, booking_to, coach_type_name, fultterwave_charge, gsd_cov_fee, 
                   gsd_tkt_rev, icrc_tkt_rev, insurance, medical, nrc_cov_fee, nrc_tkt_rev, no_of_passengers, pnr_number, 
                   seat_type, stamp_duty, booking_status, total_cov_fee, total_fare, total_tkt_revenue, train_name, 
                   travel_date, type, user_name, user_type, created_at, route_name, poc_corporation_name 
            FROM booking
            WHERE created_at > %s
            ORDER BY created_at ASC
        """, (last_booking_created,))


cursor.execute("""
            SELECT id, status, booking_id, validated_at, created_at, updated_at 
            FROM booking_verification_details
            WHERE created_at > %s
            ORDER BY created_at ASC
        """, (last_validator_created,))


cursor.execute("""
            SELECT id, booking_id, coach_name, passenger_identification_number, passenger_contact, passenger_email, 
                   passenger_name, passenger_type, seat_number, seat_type, created_at, updated_at 
            FROM booking_details
            WHERE created_at > %s
            ORDER BY created_at ASC
        """, (last_user_created,))

old task.py

In [ ]:
import os
import redis
import json
from celery import shared_task
import psycopg2
from datetime import datetime

# Redis config
redis_client = redis.Redis(host='localhost', port=6379, db=0)

# Postgres config
def get_pg_connection():
    return psycopg2.connect(
        dbname=os.getenv('DB_NAME'),
        user=os.getenv('DB_USER'),
        password=os.getenv('DB_PASSWORD'),
        host=os.getenv('DB_HOST'),
        port=os.getenv('DB_PORT')
    )

@shared_task
def update_redis_cache():
    try:
        # Get the last cached created_at value
        last_created_at = redis_client.get("created_at")
        if last_created_at:
            last_created_at = datetime.strptime(last_created_at.decode(), "%Y-%m-%d %H:%M:%S")
        else:
            # If not set, use a far-past date to get initial data
            last_created_at = datetime(2023, 11, 23, 0, 0, 0)

        print(f"Last cached at: {last_created_at}")

        conn = get_pg_connection()
        cursor = conn.cursor()

        # Fetch only new data
        cursor.execute("""
            SELECT id, booking_date, booking_from, booking_to, coach_type_name, fultterwave_charge, gsd_cov_fee, " \
            "gsd_tkt_rev,icrc_tkt_rev, insurance, medical, nrc_cov_fee, nrc_tkt_rev, no_of_passengers, pnr_number, seat_type, " \
            "stamp_duty, booking_status, total_cov_fee, total_fare, total_tkt_revenue, train_name, travel_date, type, user_name," \
            "user_type, created_at, route_name, poc_corporation_name FROM booking
            WHERE created_at > %s
            ORDER BY created_at ASC
        """, (last_created_at,))
        rows = cursor.fetchall()

        print(f"Fetched {len(rows)} new rows.")

        for row in rows:
            id_,booking_date, booking_from, booking_to, coach_type_name, fultterwave_charge, gsd_cov_fee, gsd_tkt_rev,icrc_tkt_rev, insurance, medical, nrc_cov_fee, nrc_tkt_rev, no_of_passengers, pnr_number, seat_type, stamp_duty, booking_status, total_cov_fee, total_fare, total_tkt_revenue, train_name, travel_date, type, user_name,user_type, created_at, route_name, poc_corporation_name = row


            # Check if already cached
            if redis_client.sismember("cache_index", id_):
                continue  # Skip duplicates

            # Save to Redis
            redis_key = f"data:{id_}"
            redis_value = {
                "id": id_,
                "booking_date": booking_date.strftime("%Y-%m-%d %H:%M:%S"), 
                "booking_from": booking_from, 
                "booking_to": booking_to, 
                "coach_type_name": coach_type_name, 
                "fultterwave_charge": fultterwave_charge, 
                "gsd_cov_fee": gsd_cov_fee, 
                "gsd_tkt_rev": gsd_tkt_rev,
                "icrc_tkt_rev": icrc_tkt_rev, 
                "insurance": insurance, 
                "medical": medical, 
                "nrc_cov_fee": nrc_cov_fee, 
                "nrc_tkt_rev": nrc_tkt_rev, 
                "no_of_passengers": no_of_passengers, 
                "pnr_number": pnr_number, 
                "seat_type": seat_type, 
                "stamp_duty": stamp_duty, 
                "booking_status": booking_status, 
                "total_cov_fee": total_cov_fee, 
                "total_fare": total_fare, 
                "total_tkt_revenue": total_tkt_revenue, 
                "train_name": train_name, 
                "travel_date": travel_date.strftime("%Y-%m-%d %H:%M:%S"), 
                "type": type, 
                "user_name": user_name,
                "user_type": user_type, 
                "created_at": created_at.strftime("%Y-%m-%d %H:%M:%S"), 
                "route_name": route_name, 
                "poc_corporation_name": poc_corporation_name,
            }
            redis_client.set(redis_key, json.dumps(redis_value))
            redis_client.sadd("cache_index", id_)

            # Update latest created_at if this is the newest so far
            redis_client.set("latest_created_at", created_at.strftime("%Y-%m-%d %H:%M:%S"))

        cursor.close()
        conn.close()

        return f"Cached {len(rows)} new records."

    except Exception as e:
        print("Error during caching:", e)
        return str(e)

In [ ]:
# import os
# from celery import shared_task
# from django.core.cache import cache
# import psycopg2
# import pandas as pd
# from django.conf import settings
# from django.utils import timezone


# @shared_task
# def update_dashboard_data():
#     #Fetch the latest data from postgres and store it in cache
#     try:
#         # Connect to your postgres DB
#         connection = psycopg2.connect(
#         dbname=os.getenv('DB_NAME'),
#         user=os.getenv('DB_USER'),
#         password=os.getenv('DB_PASSWORD'),
#         host=os.getenv('DB_HOST'),
#         port=os.getenv('DB_PORT')
#     )

#         cursor = connection.cursor()

#         query = """
#         SELECT booking_date, booking_from, booking_to, coach_type_name, fultterwave_charge, 
#             gsd_cov_fee, gsd_tkt_rev, icrc_tkt_rev, insurance, medical, nrc_cov_fee, 
#             nrc_tkt_rev, no_of_passengers, pnr_number, seat_type, stamp_duty, booking_status, 
#             total_cov_fee, total_fare, total_tkt_revenue, train_name, travel_date, type, 
#             user_name, user_type, route_name, poc_corporation_name 
#         FROM booking ORDER BY booking_date;
#         """

#         cursor.execute(query)

#         # Fetch all rows
#         data = cursor.fetchall()

#         # Get column names from cursor.description
#         columns = [desc[0] for desc in cursor.description]  

#         # Convert to DataFrame with correct column names
#         df = pd.DataFrame(data, columns=columns)

#         print('Data fetched from database:(task)', df.head())

#         # # Store DataFrame in Django cache (converting to JSON-friendly format)
#         cache.set('dashboard_data', df.to_dict(orient='records'), timeout=None)

#         cursor.close()
#         connection.close()
#         return "Dashboard data updated successfully"
#     except Exception as e:
#         print(f"Error updating dashboard data: {e}")
#         return "Failed to update dashboard data"

sample payload example

In [ ]:
import json
from datetime import date

def generate_transaction_payload(ticket_id, passengers, transaction_date=None):
    # Constants
    BASE_PRICE_PER_PASSENGER = 3600
    MEDICAL_PER_PASSENGER = 30
    INSURANCE_PER_PASSENGER = 10
    STAMP_DUTY = 50
    CONVENIENCE_FEE_PERCENT = 0.065

    GSD_PERCENT = 0.185
    NRC_PERCENT = 0.795
    ICRC_PERCENT = 0.02
    CONVENIENCE_GSD_PERCENT = 0.60
    CONVENIENCE_NRC_PERCENT = 0.40

    # Defaults
    if transaction_date is None:
        transaction_date = str(date.today())

    # Base Calculations
    base_total = BASE_PRICE_PER_PASSENGER * passengers
    medical_total = MEDICAL_PER_PASSENGER * passengers
    insurance_total = INSURANCE_PER_PASSENGER * passengers
    convenience_fee_total = round(base_total * CONVENIENCE_FEE_PERCENT, 2)

    # Total amount
    total_amount = base_total + medical_total + insurance_total + STAMP_DUTY + convenience_fee_total

    # Split convenience fee
    conv_fee_gsd = round(convenience_fee_total * CONVENIENCE_GSD_PERCENT, 2)
    conv_fee_nrc = round(convenience_fee_total * CONVENIENCE_NRC_PERCENT, 2)

    # Party Distribution
    gsd_share = round((base_total + medical_total + insurance_total + STAMP_DUTY) * GSD_PERCENT + conv_fee_gsd, 2)
    nrc_share = round((base_total + medical_total + insurance_total + STAMP_DUTY) * NRC_PERCENT + conv_fee_nrc, 2)
    icrc_share = round((base_total + medical_total + insurance_total + STAMP_DUTY) * ICRC_PERCENT, 2)

    payload = {
        "date": transaction_date,
        "transactions": [
            {
                "ticket_id": ticket_id,
                "passengers": passengers,
                "base_price_per_passenger": BASE_PRICE_PER_PASSENGER,
                "convenience_fee": convenience_fee_total,
                "total_amount": total_amount,
                "split": {
                    "base_total": base_total,
                    "medical": medical_total,
                    "insurance": insurance_total,
                    "stamp_duty": STAMP_DUTY,
                    "convenience_fee": {
                        "total": convenience_fee_total,
                        "gsd_share": conv_fee_gsd,
                        "nrc_share": conv_fee_nrc
                    }
                },
                "parties_distribution": {
                    "gsd": gsd_share,
                    "nrc": nrc_share,
                    "icrc": icrc_share,
                    "medical": medical_total,
                    "insurance": insurance_total,
                    "stamp_duty": STAMP_DUTY,
                    "convenience_fee_total": convenience_fee_total
                }
            }
        ]
    }

    return payload

# 🔽 Example Usage
if __name__ == "__main__":
    result = generate_transaction_payload(ticket_id="TXN1002", passengers=2, transaction_date="2025-04-16")
    print(json.dumps(result, indent=2))

In [ ]:
# KPI Indicators using the data
tickets_value = dff['no_of_passengers'].sum()
transactions_value = len(dff)
validated_ticket_value = len(validator_dff)
online_value = dff[dff['type']=='ONLINE']['total_fare'].sum()
tom_value = dff[dff['type']=='OFFLINE']['total_fare'].sum()
total_sales_value = dff["total_fare"].sum()
nrc_rev_value = dff['nrc_tkt_rev'].sum().astype(int)

# Graphs and tables using the data
# Graphs 1
daily_transaction_dff = dff.groupby("booking_date")["total_fare"].sum().reset_index()

# Tables 1
summary_dff = dff.groupby('booking_from').agg({
'total_fare': 'sum',
'medical': 'sum',
'insurance':'sum',
'stamp_duty': 'sum',
'total_tkt_revenue': 'sum',
'total_cov_fee': 'sum',
'nrc_cov_fee':'sum',
'nrc_tkt_rev':'sum',
'gsd_tkt_rev':'sum',
'gsd_cov_fee':'sum',
'icrc_tkt_rev':'sum', 
'no_of_passengers':'count'
}).reset_index()

# table 2
group_table_dff = dff.groupby(['poc_corporation_name']).agg({
'total_fare': 'sum',
'medical': 'sum',
'insurance': 'sum',
'stamp_duty': 'sum',
'nrc_tkt_rev': 'sum',
'gsd_tkt_rev': 'sum',
'icrc_tkt_rev': 'sum',
'no_of_passengers': 'sum',
}).reset_index()

# table 3
class_table_dff = dff.groupby('booking_from').agg(
first_class=('coach_type_name', lambda x: (x == 'First Class').sum()),
business_class=('coach_type_name', lambda x: (x == 'Business Class').sum()),
standard_class=('coach_type_name', lambda x: (x == 'Standard Class').sum())
).reset_index()

# table 4
sales_table_dff = dff.groupby('booking_date').agg(
tickets_sold = ('no_of_passengers', 'count'),
online_transaction = ('total_fare', lambda x: (dff.loc[x.index, 'type'] == 'ONLINE').sum()),
tom_transaction = ('total_fare', lambda x: (dff.loc[x.index, 'type'] == 'OFFLINE').sum()),
total_no_of_transaction = ('total_fare', 'count'),
online_sales = ('total_fare', lambda x: dff.loc[x.index[dff.loc[x.index, 'type'] == 'ONLINE'], 'total_fare'].sum()),
tom_sales = ('total_fare', lambda x: dff.loc[x.index[dff.loc[x.index, 'type'] == 'OFFLINE'], 'total_fare'].sum()),
total_sales = ('total_fare', 'sum')
).reset_index()

# table 5
user_data_table_dff = dff.groupby('user_name').agg(
amount_paid = ('total_fare', 'sum')
).reset_index()

# table 6
user_tkt_table_dff = dff.groupby('user_name').agg(
ticket_sales = ('total_fare', 'sum'),
medical = ('medical', 'sum'),
insurance = ('insurance', 'sum'),
stamp_duty = ('stamp_duty', 'sum'),
total_tkt_revenue = ('total_tkt_revenue', 'sum'),
nrc_tkt_rev = ('nrc_tkt_rev', 'sum'),
gsd_tkt_rev = ('gsd_tkt_rev', 'sum'),
icrc_tkt_rev = ('icrc_tkt_rev', 'sum'),
nrc_cov_fee = ('nrc_cov_fee', 'sum'),
gsd_cov_fee = ('gsd_cov_fee', 'sum'),
total_cov_fee = ('total_cov_fee', 'sum'),
no_of_passengers = ('no_of_passengers', 'sum')
).reset_index()

# Graph 2
daily_transaction_dff = dff.groupby("booking_date")["total_fare"].sum().reset_index()

# Graph 3
# For this example, we update the pie and bar charts to reflect totals by Coach Type and Station.
# Update fig3 (Pie Chart): Sales by Coach Type.
updated_ticket_class_dff = dff.groupby("coach_type_name")["total_fare"].sum().reset_index()

# Graph 4
# Update fig5 (Horizontal Bar Chart): Total Fare by Boarding Station.
updated_station_dff = dff.groupby("booking_from")["total_fare"].sum().reset_index()

Updated utils

In [ ]:
import os
import math
from django.core.cache import cache
import psycopg2
import pandas as pd
import logging

# Logging setup
logging.basicConfig(level=logging.DEBUG)
logger = logging.getLogger(__name__)

CHUNK_SIZE = 10000  # You can experiment with this

def get_cached_dashboard_data():
    print("Checking dashboard data chunks in cache...")

    num_chunks = cache.get('dashboard_data_chunk_count')

    if num_chunks:
        print(f"Found {num_chunks} chunks in cache. Fetching...")
        all_data = []
        for i in range(num_chunks):
            chunk = cache.get(f'dashboard_data_chunk_{i}')
            if chunk:
                all_data.extend(chunk)
        return all_data

    print("Cache is empty, fetching data from DB...")

    try:
        connection = psycopg2.connect(
            dbname=os.getenv('DB_NAME'),
            user=os.getenv('DB_USER'),
            password=os.getenv('DB_PASSWORD'),
            host=os.getenv('DB_HOST'),
            port=os.getenv('DB_PORT')
        )

        cursor = connection.cursor()

        # Main query
        query = """SELECT 
            b.id, b.booking_date, b.booking_from, b.booking_id, b.booking_to,
            b.coach_type_name, b.fultterwave_charge, b.gsd_cov_fee, b.gsd_tkt_rev,
            b.icrc_tkt_rev, b.insurance, b.medical, b.nrc_cov_fee, b.nrc_tkt_rev,
            b.no_of_passengers, b.pnr_number, b.seat_type, b.stamp_duty,
            b.booking_status, b.total_cov_fee, b.total_fare, b.total_tkt_revenue,
            b.train_name, b.travel_date, b.type, b.user_name, b.user_type,
            b.created_at AS booking_created_at, b.updated_at AS booking_updated_at,
            b.route_name, b.poc_corporation_name,
            bd.id AS user_detail_id, bd.booking_id AS user_booking_id,
            bd.coach_name, bd.passenger_identification_number, bd.passenger_contact,
            bd.passenger_email, bd.passenger_name, bd.passenger_type, bd.seat_number,
            bd.seat_type AS user_seat_type, bd.created_at AS user_created_at,
            bd.updated_at AS user_updated_at
        FROM booking b
        LEFT JOIN booking_details bd ON bd.booking_id = b.booking_id
        ORDER BY b.booking_date;"""

        cursor.execute(query)
        data = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]

        df = pd.DataFrame(data, columns=columns)
        data_dict = df.to_dict(orient='records')

        # Chunk and store
        total = len(data_dict)
        num_chunks = math.ceil(total / CHUNK_SIZE)

        for i in range(num_chunks):
            chunk_data = data_dict[i * CHUNK_SIZE : (i + 1) * CHUNK_SIZE]
            cache.set(f'dashboard_data_chunk_{i}', chunk_data, timeout=None)

        cache.set('dashboard_data_chunk_count', num_chunks, timeout=None)

        logger.debug(f"{num_chunks} data chunks cached successfully.")
        cursor.close()
        connection.close()

        return data_dict

    except Exception as e:
        logger.error(f"DB fetch error: {e}")
        return "Failed to fetch data."

Dashboard callback

In [ ]:
import dash
from dash import dcc, html, Input, Output, State
import pandas as pd
from django.core.cache import cache

# --- Setup your Dash app as usual ---
app = dash.Dash(__name__, suppress_callback_exceptions=True)
app.layout = html.Div([
    html.Button("Refresh Dashboard", id="refresh-button"),
    html.Div(id="dashboard-content")
])

@app.callback(
    Output("dashboard-content", "children"),
    Input("refresh-button", "n_clicks")
)
def update_dashboard(n_clicks):
    # --- Step 1: Load Cached Chunks ---
    num_chunks = cache.get("dashboard_data_chunk_count")
    if not num_chunks:
        return html.Div("⚠️ No cached dashboard data available. Please run data fetch job.")

    all_records = []
    for i in range(num_chunks):
        chunk = cache.get(f"dashboard_data_chunk_{i}")
        if chunk:
            all_records.extend(chunk)

    if not all_records:
        return html.Div("⚠️ Dashboard data is empty.")

    dff = pd.DataFrame(all_records)

    # --- Step 2: Compute KPIs ---
    kpis = {
        "Tickets": dff['no_of_passengers'].sum(),
        "Transactions": len(dff),
        "Validated": dff[dff['booking_status'] == 'VALIDATED'].shape[0],
        "Online Sales": dff[dff['type'] == 'ONLINE']['total_fare'].sum(),
        "TOM Sales": dff[dff['type'] == 'OFFLINE']['total_fare'].sum(),
        "Total Sales": dff['total_fare'].sum(),
        "NRC Revenue": dff['nrc_tkt_rev'].sum()
    }

    kpi_cards = html.Div([
        html.Div(f"{key}: {int(val):,}", style={'padding': '10px', 'fontWeight': 'bold'})
        for key, val in kpis.items()
    ])

    # --- Step 3: Example Graph (Daily Fare) ---
    if 'booking_date' in dff.columns:
        dff['booking_date'] = pd.to_datetime(dff['booking_date'])
        daily_df = dff.groupby('booking_date')['total_fare'].sum().reset_index()

        daily_fig = {
            'data': [{
                'x': daily_df['booking_date'],
                'y': daily_df['total_fare'],
                'type': 'line',
                'name': 'Daily Fare'
            }],
            'layout': {
                'title': 'Daily Sales Over Time',
                'xaxis': {'title': 'Date'},
                'yaxis': {'title': 'Total Fare'}
            }
        }
    else:
        daily_fig = {}

    return html.Div([
        html.H3("📊 KPI Summary"),
        kpi_cards,
        html.Hr(),
        html.H3("📈 Daily Sales Graph"),
        dcc.Graph(figure=daily_fig)
    ])

In [ ]:
from djnago.core.cache import cache
import sys

data = cache.get("dashboard_data")
print(f"size: {sys.getsizeof(data)  / 1024 / 1024} MB")

In [ ]:
html.H4(" Table", className="bg-success text-white text-center rounded m-0"),
        dbc.Col(user_tkt_table, className="bg-white shadow rounded mb-4 border", width=12, xs=12),

In [ ]:
 #html.H4(" Table", className="bg-success text-white text-center rounded m-0"),
            dbc.Col(user_data_table, className="bg-white shadow rounded mt-4 mb-4 border", width=4, xs=12, sm=12, md=5, lg=12),

In [ ]:
#html.H4(" Table", className="bg-success text-white text-center rounded m-0"),
            dbc.Col(user_data_table, className="bg-white shadow rounded mt-4 mb-4 border", width=4, xs=12, sm=12, md=6, lg=12),

In [ ]:
html.H4(" Table", className="bg-success text-white text-center rounded m-0"),
        dbc.Col(sales_table, className="bg-white shadow rounded mb-4 border", width=12, xs=12),

In [ ]:
#html.H4(" Table", className="bg-success text-white text-center rounded m-0"),
             dbc.Col(class_table, className="bg-white shadow rounded mt-4 mb-4 border", width=4,xs=12, sm=12, md=5, lg=12),

In [ ]:
#html.H4(" Table", className="bg-success text-white text-center rounded m-0", ),
             dbc.Col(group_table, className="bg-white shadow rounded mt-4 mb-4 border", width=4, xs=12, sm=12, md=6, lg=12), #width=6,

In [1]:
import os
from celery import shared_task
from django.core.cache import cache
import psycopg2
import pandas as pd
from django.conf import settings
from django.utils import timezone


connection = psycopg2.connect(
dbname=os.getenv('DB_NAME'),
user=os.getenv('DB_USER'),
password=os.getenv('DB_PASSWORD'),
host=os.getenv('DB_HOST'),
port=os.getenv('DB_PORT')
)
cursor = connection.cursor()

query = """
SELECT booking_date, booking_from, booking_to, coach_type_name, fultterwave_charge, 
gsd_cov_fee, gsd_tkt_rev, icrc_tkt_rev, insurance, medical, nrc_cov_fee, 
nrc_tkt_rev, no_of_passengers, pnr_number, seat_type, stamp_duty, booking_status, 
total_cov_fee, total_fare, total_tkt_revenue, train_name, travel_date, type, 
user_name, user_type, route_name, poc_corporation_name 
FROM booking ORDER BY booking_date;
"""

cursor.execute(query)
data = cursor.fetchall()


cursor.close()
connection.close()

# Convert to DataFrame
columns = [desc[0] for desc in cursor.description]

Entire Utils.py

In [2]:
import os
from django.core.cache import cache
from django.db import models
import psycopg2
import pandas as pd

#for testing
import redis
import logging

#Logging setup
logging.basicConfig(level=logging.DEBUG)
logger = logging.getLogger(__name__)

def get_cached_dashboard_data():
    #Fetching the data 
    data = cache.get('dashboard_data')
    print("Fetching data from cache...")

    if data is None:
        print("Cache is empty, fetching data from DB...")
        
        # Connect to PostgreSQL
        try:

            connection = psycopg2.connect(
                dbname=os.getenv('DB_NAME'),
                user=os.getenv('DB_USER'),
                password=os.getenv('DB_PASSWORD'),
                host=os.getenv('DB_HOST'),
                port=os.getenv('DB_PORT')
            )

            cursor = connection.cursor()

            #main query, 1 Query
            query = """SELECT 
                b.id,
                b.booking_date,
                b.booking_from,
                b.booking_id,
                b.booking_to,
                b.coach_type_name,
                b.fultterwave_charge,
                b.gsd_cov_fee,
                b.gsd_tkt_rev,
                b.icrc_tkt_rev,
                b.insurance,
                b.medical,
                b.nrc_cov_fee,
                b.nrc_tkt_rev,
                b.no_of_passengers,
                b.pnr_number,
                b.seat_type,
                b.stamp_duty,
                b.booking_status,
                b.total_cov_fee,
                b.total_fare,
                b.total_tkt_revenue,
                b.train_name,
                b.travel_date,
                b.type,
                b.user_name,
                b.user_type,
                b.created_at AS booking_created_at,
                b.updated_at AS booking_updated_at,
                b.route_name,
                b.poc_corporation_name,

                bd.id AS user_detail_id,
                bd.booking_id AS user_booking_id,
                bd.coach_name,
                bd.passenger_identification_number,
                bd.passenger_contact,
                bd.passenger_email,
                bd.passenger_name,
                bd.passenger_type,
                bd.seat_number,
                bd.seat_type AS user_seat_type,
                bd.created_at AS user_created_at,
                bd.updated_at AS user_updated_at

            FROM booking b
            LEFT JOIN booking_details bd ON bd.booking_id = b.booking_id
            ORDER BY b.booking_date;"""
            
            cursor.execute(query)
            #fetch the data
            data = cursor.fetchall()

            # Convert to DataFrame
            columns = [desc[0] for desc in cursor.description]
            #print("Columns fetched from DB:", columns)
            
            df= pd.DataFrame(data, columns=columns)
            #print('Data fetched from database (first load):', df.head())

            # # Store in Cache
            # cache.set('dashboard_data', df.to_dict(orient='records'), timeout=None)
            # logger.debug("Main Data stored in cache.")

            
            cursor.close()
            print("Cursor closed.")
            connection.close()
            print("Connection closed.")
        except Exception as e:
            print(f"Error fetching from DB: {e}")
            return "Failed to fetch data."
    return data

In [ ]:
"""SELECT 
    b.id,
    b.booking_date,
    b.booking_from,
    b.booking_id,
    b.booking_to,
    b.coach_type_name,
    b.fultterwave_charge,
    b.gsd_cov_fee,
    b.gsd_tkt_rev,
    b.icrc_tkt_rev,
    b.insurance,
    b.medical,
    b.nrc_cov_fee,
    b.nrc_tkt_rev,
    b.no_of_passengers,
    b.pnr_number,
    b.seat_type,
    b.stamp_duty,
    b.booking_status,
    b.total_cov_fee,
    b.total_fare,
    b.total_tkt_revenue,
    b.train_name,
    b.travel_date,
    b.type,
    b.user_name,
    b.user_type,
    b.created_at AS booking_created_at,
    b.updated_at AS booking_updated_at,
    b.route_name,
    b.poc_corporation_name,

    bd.id AS user_detail_id,
    bd.booking_id AS user_booking_id,
    bd.coach_name,
    bd.passenger_identification_number,
    bd.passenger_contact,
    bd.passenger_email,
    bd.passenger_name,
    bd.passenger_type,
    bd.seat_number,
    bd.seat_type AS user_seat_type,
    bd.created_at AS user_created_at,
    bd.updated_at AS user_updated_at

FROM booking b
LEFT JOIN booking_details bd ON bd.booking_id = b.booking_id
ORDER BY b.booking_date;"""

In [ ]:
import os
from celery import shared_task
from django.core.cache import cache
import psycopg2
import pandas as pd
from django.conf import settings
from django.utils import timezone

connection = psycopg2.connect(
dbname=os.getenv('DB_NAME'),
user=os.getenv('DB_USER'),
password=os.getenv('DB_PASSWORD'),
host=os.getenv('DB_HOST'),
port=os.getenv('DB_PORT')
)

cursor = connection.cursor()

#main query, 1 Query
query = """SELECT 
    b.id,
    b.booking_date,
    b.booking_from,
    b.booking_id,
    b.booking_to,
    b.coach_type_name,
    b.fultterwave_charge,
    b.gsd_cov_fee,
    b.gsd_tkt_rev,
    b.icrc_tkt_rev,
    b.insurance,
    b.medical,
    b.nrc_cov_fee,
    b.nrc_tkt_rev,
    b.no_of_passengers,
    b.pnr_number,
    b.seat_type,
    b.stamp_duty,
    b.booking_status,
    b.total_cov_fee,
    b.total_fare,
    b.total_tkt_revenue,
    b.train_name,
    b.travel_date,
    b.type,
    b.user_name,
    b.user_type,
    b.created_at AS booking_created_at,
    b.updated_at AS booking_updated_at,
    b.route_name,
    b.poc_corporation_name,
    bd.id AS user_detail_id,
    bd.booking_id AS user_booking_id,
    bd.coach_name,
    bd.passenger_identification_number,
    bd.passenger_contact,
    bd.passenger_email,
    bd.passenger_name,
    bd.passenger_type,
    bd.seat_number,
    bd.seat_type AS user_seat_type,
    bd.created_at AS user_created_at,
    bd.updated_at AS user_updated_at

FROM booking b
LEFT JOIN booking_details bd ON bd.booking_id = b.booking_id
ORDER BY b.booking_date;"""

cursor.execute(query)
#fetch the data
data = cursor.fetchall()

# Convert to DataFrame
columns = [desc[0] for desc in cursor.description]
#print("Columns fetched from DB:", columns)

df= pd.DataFrame(data, columns=columns)
#print('Data fetched from database (first load):', df.head())

cursor.close()
print("Cursor closed.")
connection.close()

In [ ]:
import os
from celery import shared_task
from django.core.cache import cache
import psycopg2
import pandas as pd
from django.conf import settings
from django.utils import timezone

connection = psycopg2.connect(
dbname=os.getenv('DB_NAME'),
user=os.getenv('DB_USER'),
password=os.getenv('DB_PASSWORD'),
host=os.getenv('DB_HOST'),
port=os.getenv('DB_PORT')
)

cursor = connection.cursor()

#main query, 1 Query
query = "SELECT id, booking_date, booking_from, booking_to, coach_type_name, fultterwave_charge, gsd_cov_fee, " \
"gsd_tkt_rev,icrc_tkt_rev, insurance, medical, nrc_cov_fee, nrc_tkt_rev, no_of_passengers, pnr_number, seat_type, " \
"stamp_duty, booking_status, total_cov_fee, total_fare, total_tkt_revenue, train_name, travel_date, type, user_name," \
"user_type, created_at, route_name, poc_corporation_name FROM booking ORDER BY booking_date;"
#validator = "SELECT status FROM booking_verification_details ORDER BY created_at;"
cursor.execute(query)
#fetch the data
data = cursor.fetchall()

# Convert to DataFrame
columns = [desc[0] for desc in cursor.description]
#print("Columns fetched from DB:", columns)

df= pd.DataFrame(data, columns=columns)
#print('Data fetched from database (first load):', df.head())

#Validator query, 2 Query
validator_query = "SELECT id, status, booking_id, validated_at, created_at, updated_at FROM booking_verification_details" \
" ORDER BY created_at;"
cursor.execute(validator_query)
#fetch the data
validator_data = cursor.fetchall()

# Convert to DataFrame
validator_columns = [desc[0] for desc in cursor.description]
#print("Columns fetched from DB:", columns)

validator_df= pd.DataFrame(validator_data, columns=validator_columns)
#print('Data fetched from database (first load):', df.head())

#user query, 3 Query
user_query = "SELECT id, booking_id, coach_name, passenger_identification_number, passenger_contact, passenger_email, " \
"passenger_name, passenger_type, seat_number, seat_type, created_at, updated_at FROM booking_details ORDER BY updated_at;"
cursor.execute(user_query)
#fetch the data
user_data = cursor.fetchall()

# Convert to DataFrame
user_columns = [desc[0] for desc in cursor.description]
#print("Columns fetched from DB:", columns)

user_df= pd.DataFrame(user_data, columns=user_columns)
#print('Data fetched from database (first load):', df.head())

cursor.close()
print("Cursor closed.")
connection.close()

Cursor closed.

In [7]:
user_df.tail()

,id,booking_id,coach_name,passenger_identification_number,passenger_contact,passenger_email,passenger_name,passenger_type,seat_number,seat_type,created_at,updated_at
1111481,896e5641-b81d-4a00-ab66-f9a06fcf6a17,65d9c80e66d0a26ec2d5c053,C08,5674899387,8034711272,lestermorris51@gmail.com,Oshodi,Adult,9,RESERVED,NaT,2024-02-24 10:55:36.977
1111482,6e75eb53-4d51-4433-a1d6-1f8a81c5b95f,65e2bbf0e293cf5f27210012,C01,68759779652,08062349914,faithozebu@gmail.com,Faith Ozebu,Adult,18,RESERVED,NaT,2024-03-02 06:44:47.284
1111483,541b635b-c27c-4693-8aac-da3a545336e9,65d9c80e66d0a26ec2d5c053,C08,5674899387,8034711272,lestermorris51@gmail.com,Oshodi,Adult,22,RESERVED,NaT,2024-02-24 10:55:36.984
1111484,6afdb015-3caf-4b84-975c-6a675bc6c7a7,66332b54a7cae6393e745a24,C09,5555666685,08182095889,boardbill_energy@yahoo.com,Abass,Adult,31,RESERVED,NaT,2024-05-02 06:19:19.852
1111485,db078cd8-a142-4380-8897-205f2c0df900,66332b54a7cae6393e745a24,C09,555666345666,08182095889,boardbill_energy@yahoo.com,Taiwo,Adult,30,RESERVED,NaT,2024-05-02 06:19:19.851

In [ ]:
df.isnull().sum() #created_at

id                           0
booking_date                 0
booking_from                 0
booking_to                   0
coach_type_name              0
fultterwave_charge          12
gsd_cov_fee                 12
gsd_tkt_rev                 13
icrc_tkt_rev                13
insurance                   13
medical                     13
nrc_cov_fee                 12
nrc_tkt_rev                 13
no_of_passengers             0
pnr_number                   0
seat_type                    0
stamp_duty                  13
booking_status               0
total_cov_fee               12
total_fare                   0
total_tkt_revenue           13
train_name                   0
travel_date                  0
type                         0
user_name                    0
user_type                    0
created_at                   0
route_name              158433
poc_corporation_name    811773
dtype: int64

In [10]:
df[df['created_at'].isnull()]

Empty DataFrame
Columns: [id, booking_date, booking_from, booking_to, coach_type_name, fultterwave_charge, gsd_cov_fee, gsd_tkt_rev, icrc_tkt_rev, insurance, medical, nrc_cov_fee, nrc_tkt_rev, no_of_passengers, pnr_number, seat_type, stamp_duty, booking_status, total_cov_fee, total_fare, total_tkt_revenue, train_name, travel_date, type, user_name, user_type, created_at, route_name, poc_corporation_name]
Index: []

[0 rows x 29 columns]

In [ ]:
validator_df.isnull().sum()  #created_at

id              0
status          0
booking_id      0
validated_at    0
created_at      0
updated_at      0
dtype: int64

In [ ]:
user_df.isnull().sum() #updated_at

id                                     0
booking_id                             0
coach_name                             0
passenger_identification_number    13614
passenger_contact                      2
passenger_email                       17
passenger_name                         2
passenger_type                         0
seat_number                            0
seat_type                              0
created_at                           311
updated_at                             0
dtype: int64

In [16]:
df["created_at"] = pd.to_datetime(df["created_at"])
df['created_at']

0        2023-10-30 10:10:14.140
1        2023-10-30 10:32:28.348
2        2023-10-30 10:34:09.890
3        2023-10-30 10:59:06.857
4        2023-10-30 15:56:16.628
                   ...
811956   2025-04-21 08:30:02.883
811957   2025-04-21 08:30:04.916
811958   2025-04-21 08:31:33.302
811959   2025-04-21 08:32:31.886
811960   2025-04-21 08:34:13.842
Name: created_at, Length: 811961, dtype: datetime64[ns]

In [ ]:
df['created_at'].max()

Timestamp('2025-04-21 08:34:13.842000')

In [18]:
df["created_at"].notnull().any()
df["created_at"].max()

Timestamp('2025-04-21 08:34:13.842000')

In [5]:
user_df.tail(50)

,id,booking_id,coach_name,passenger_identification_number,passenger_contact,passenger_email,passenger_name,passenger_type,seat_number,seat_type,created_at,updated_at
1111394,3113da54-8c4d-4c81-9ef9-7824b45ffe82,65ede3feb9d2e914fd2dd7f0,C03,78330728879,8023415110,koyeyemi_uk@yahoo.com.uk,Adebayo Yusuf Olatunji,Adult,30,RESERVED,NaT,2024-03-11 03:51:23.837
1111395,4e25ba2a-9984-4abb-a5b6-cb89797b99fc,65ede3feb9d2e914fd2dd7f0,C03,28267573890,8072880202,koyeyemi_uk@yahoo.com.uk,Joseph Olasunkanmi Oyeyemi,Adult,29,RESERVED,NaT,2024-03-11 03:51:23.835
1111396,4c08ad8e-f26a-40f4-8be6-f11e03b67055,65fc336d2ade374949539035,C01,27865422833,9053558404,osekaadewole126@gmail.com,Osekafore,Adult,21,RESERVED,NaT,2024-03-21 14:31:10.261
1111397,44f04ba5-756b-4b19-b8da-39ef44f84a85,65d9c80e66d0a26ec2d5c053,C08,5674899387,8034711272,lestermorris51@gmail.com,Oshodi,Adult,14,RESERVED,NaT,2024-02-24 10:55:36.980
1111398,78cb76db-31b3-42c1-9ce8-b3ba700893c9,65bcf08bbdb8553f5976f4b5,C08,08173355571,08173355571,oladejioluwaseun839@gmail.com,Oladeji oluwaseun,Adult,30,RESERVED,NaT,2024-02-02 13:53:12.521
1111399,72e46d7f-c18c-4c5e-95ad-7ce5781d289e,65bcf14fbdb8553f5976f4f6,C06,74125809632,8138941774,Ibukunoluwai64@gmail.com,Ifeoluwa,Adult,32,RESERVED,NaT,2024-02-02 13:57:41.550
1111400,72d312fd-8185-43f6-b5bc-1ad42e7774c9,65bcf154bdb8553f5976f4f9,C06,25807412580,7085258025,sanusi@gmail.com,Sanusi,Adult,31,RESERVED,NaT,2024-02-02 13:57:02.278
1111401,fbbadcaa-31d8-458a-8e1c-5b85c23260a8,65bcf186bdb8553f5976f4fc,C07,7888767654,08112558167,ileriphotos@gmail.com,Kemi,Adult,9,RESERVED,NaT,2024-02-02 13:58:23.663
1111402,8ad1c9cf-aa45-4352-bd1c-78e00787c36f,65bcf20cbdb8553f5976f523,C05,50996725363,08056410327,adufeabike@gmail.com,Joseph,Adult,51,RESERVED,NaT,2024-02-02 14:00:21.250
1111403,87379558-9363-4db7-9d38-300fd81b1fd9,65bcf274bdb8553f5976f52b,C09,25808525805,8052585258,sheriff@gmail.com,Hameed Sheriff,Adult,15,RESERVED,NaT,2024-02-02 14:01:08.531
1111404,1847921e-20d2-443b-91cb-f73a6a842983,65bcf31cbdb8553f5976f556,C03,85073073895,08023288788,adeniranshola1@yahoo.com,Adeniran Mojisola,Adult,53,RESERVED,NaT,2024-02-02 14:04:11.617
1111405,e74df681-8c83-4ea8-888a-7605daf08100,65bcf4dcbdb8553f5976f5cd,C03,16097914392,7032412241,azeezshinnel@gmail.com,Isabella azeez,Adult,35,RESERVED,NaT,2024-02-02 14:11:08.769
1111406,74cc5e7d-3cf1-4081-bcac-6478ae40fd97,65bcf4dcbdb8553f5976f5cd,C03,16097914392,7032412241,azeezshinnel@gmail.com,Oluwatoyin Azeez,Adult,31,RESERVED,NaT,2024-02-02 14:11:08.767
1111407,3cf0a7fc-d9a0-4691-8bd2-087f7bf110bf,65bcf4dcbdb8553f5976f5cd,C03,16097914392,7032412241,azeezshinnel@gmail.com,Alexander Azeez,Adult,32,RESERVED,NaT,2024-02-02 14:11:08.768
1111408,f7e61be2-2b67-403e-9ed8-fa219c254ab4,65bcf4dcbdb8553f5976f5cd,C03,16097914392,7032412241,azeezshinnel@gmail.com,Godswill Idowu,Adult,36,RESERVED,NaT,2024-02-02 14:11:08.769
1111409,14e4bdd0-5f30-4e29-994e-b9e5abd75687,65cdaac151cb411c5758f313,C04,78701104364,8023456717,femideji2017@gmail.com,Oluwafemi Ogundeji,Adult,14,RESERVED,NaT,2024-02-15 06:27:39.695
1111410,9f609434-c3ea-4454-b2d2-97fc22df4c5f,65d9c80e66d0a26ec2d5c053,C08,5674899387,8034711272,lestermorris51@gmail.com,Oshodi,Adult,3,RESERVED,NaT,2024-02-24 10:55:36.973
1111411,98dbea48-4fc6-433e-b51b-803c3e45da6b,65d9c80e66d0a26ec2d5c053,C08,5674899387,8034711272,lestermorris51@gmail.com,Oshodi,Adult,6,RESERVED,NaT,2024-02-24 10:55:36.975
1111412,bfe6dd9f-1f11-48ff-a47a-3acd2d5a608d,65d9c80e66d0a26ec2d5c053,C08,5674899387,8034711272,lestermorris51@gmail.com,Oshodi,Adult,17,RESERVED,NaT,2024-02-24 10:55:36.981
1111413,83b2dd63-ac26-48b8-b15b-5b3cc28f8034,65d9c80e66d0a26ec2d5c053,C08,5674899387,8034711272,lestermorris51@gmail.com,Oshodi,Adult,5,RESERVED,NaT,2024-02-24 10:55:36.974
1111414,5050cc94-6abe-4b7b-8b0d-ec964bee8ef4,65bcf576bdb8553f5976f5ef,C02,43636928076,08182990615,apex.vndv@gmail.com,Innocent Chidozie,Adult,16,RESERVED,NaT,2024-02-02 14:20:27.391
1111415,af323f5a-d099-4abe-9631-8077a79476df,65c6321017ae685e3fc456fa,C07,37544041864,08034662365,ekeuche2001@yahoo.com,Uche Eke,Adult,67,RESERVED,NaT,2024-02-09 14:40:31.686
1111416,728ca7a4-feb7-44b2-8649-bbf786918c95,65d9c80e66d0a26ec2d5c053,C08,5674899387,8034711272,lestermorris51@gmail.com,Oshodi,Adult,26,RESERVED,NaT,2024-02-24 10:55:36.987
1111417,0a4beeb3-e7cb-4462-8acf-0050a1231b16,65a7bb10032645285519e483,C06,23637044555,9160259671,kenedreams@gmail.com,HENRIETTA ONWUJEI,Adult,30,RESERVED,NaT,2024-01-18 06:10:53.954
1111418,83f6f5ab-cf55-44bb-a398-8134c6917021,65afc8ecb8267b639fbc7355,C07,90287526158,07060447843,Afolasewe1@gmail.com,Oloade,Adult,36,RESERVED,NaT,2024-01-23 14:26:27.691
1111419,0ef630b6-3024-45d4-be73-8bee5fe42471,65afc8ecb8267b639fbc7355,C07,90287526158,07060447843,Afolasewe1@gmail.com,Babatunde,Adult,35,RESERVED,NaT,2024-01-23 14:26:27.692
1111420,5690b21b-da52-435a-aa08-8d61541cddcb,65ba584ec1c2f03c22567ee5,C03,13242425511,08035815134,sunmiodesanya@gmail.com,Odesanya Olanrewaju,Adult,3,RESERVED,NaT,2024-02-01 00:58:17.328
1111421,942b89a8-ee76-4d48-b594-83f7e204fc61,65ba584ec1c2f03c22567ee5,C03,13242425511,08035815134,sunmiodesanya@gmail.com,Tunde Alayande,Adult,4,RESERVED,NaT,2024-02-01 00:58:17.330
1111422,30206ff4-f81b-441a-8915-6d3ed7d8dc15,65ba5ea3c1c2f03c22568088,C04,7777777665,09012290038,theophilus4real@gmail.com,Ogunniran Theophilus,Adult,26,RESERVED,NaT,2024-01-31 15:09:59.041
1111423,d9559a1b-d98e-469e-9838-6cd73447b21a,65ba5fd3c1c2f03c225680cf,C07,558551447885,08035808577,Theresaolayinka@yahoo.com,David Elege,Child,77,RESERVED,NaT,2024-01-31 15:20:59.768
1111424,6a3adc8a-b711-43ae-b93b-a8eb6a7ffc9d,65ba5fd3c1c2f03c225680cf,C07,22555444555,08035808577,Theresaolayinka@yahoo.com,Elege Folashade,Adult,79,RESERVED,NaT,2024-01-31 15:20:59.764
1111425,28cb1002-01a0-47ba-8773-6a61310917d4,65ba5fd3c1c2f03c225680cf,C07,25555535555555,08035808577,Theresaolayinka@yahoo.com,Priscilla Elege,Child,82,RESERVED,NaT,2024-01-31 15:20:59.769
1111426,933228c2-85a9-419b-94a4-b29b7d7f8674,65ba5fd3c1c2f03c225680cf,C07,221555558552,08035808577,Theresaolayinka@yahoo.com,Olasunbo Olayinka,Adult,78,RESERVED,NaT,2024-01-31 15:20:59.767
1111427,86d14117-bb10-44c5-b0d6-572a54c87b7d,65bcc62cbdb8553f5976ef9a,C07,4253698523,09095533457,jesutofunmiokunade@gmail.com,Tofunmi,Adult,49,RESERVED,NaT,2024-02-02 10:50:57.215
1111428,ea11c383-dcd2-4054-8546-9e6304c7d1fa,65bccf0cbdb8553f5976f074,C05,85288302319,08060749574,nubifietraing@gmail.com,Aboderin Phillip Olusola,Adult,69,RESERVED,NaT,2024-02-02 11:59:30.402
1111429,a6fb7482-d204-4eeb-965f-7e9fd391e44f,65bcd2e4bdb8553f5976f0c4,C02,33115553424,8026601507,keemmalabiajidagba_60@yahoo.com,Hakeem,Adult,29,RESERVED,NaT,2024-02-02 12:00:35.412
1111430,57005c46-be33-47b0-a17e-02f0cf2995c9,65bcd2e4bdb8553f5976f0c4,C02,33115553424,8026601507,keemmalabiajidagba_60@yahoo.com,Phillip,Adult,33,RESERVED,NaT,2024-02-02 12:00:35.413
1111431,deb7b4b7-a308-43ca-9e86-aedbce469e01,65bcd2e4bdb8553f5976f0c4,C02,33115553424,8026601507,keemmalabiajidagba_60@yahoo.com,Subair,Adult,30,RESERVED,NaT,2024-02-02 12:00:35.413
1111432,c21e596e-ffc7-4927-bbff-ec46814e94d9,65bcd2e4bdb8553f5976f0c4,C02,3311553424,8026601507,keemmalabiajidagba_60@yahoo.com,Omotoyosi,Adult,34,RESERVED,NaT,2024-02-02 12:00:35.414
1111433,ecd98a7b-ade5-47ee-8723-bb027505a567,65bcd33bbdb8553f5976f0dc,C07,74125836984,07045555970,mohammedola79@gmail.com,Mohammed Ola,Adult,75,RESERVED,NaT,2024-02-02 11:58:37.707
1111434,85075adb-bcc8-40ab-ba2d-6581d3f8d55b,6604b9e40363ff1edb534ff6,C07,9595959596,07068012946,boardbill_energy@yahoo.com,Lateef,Adult,44,RESERVED,NaT,2024-03-28 02:42:13.891
1111435,0964e9b4-ca87-4bdf-8404-7c5b8771498d,660ef9c0c2578537bc4b11bb,C07,59449665237,8138841101,esther_sodeke@yahoo.com,Esther Jadesola Sodeke,Adult,20,RESERVED,NaT,2024-04-05 04:09:14.381
1111436,8b63831f-af95-4c3e-a941-233c4bb84f2b,660fbb0204d55c1e1c935287,C06,22161988410,7065302424,sonuga2020@gmail.com,sonuga temitope,Adult,3,RESERVED,NaT,2024-04-05 10:45:39.994
1111437,8d6f1adc-5229-4e6a-b140-04d04e867f8f,6604b9e40363ff1edb534ff6,C07,6565599664,08067983296,boardbill_energy@yahoo.com,Lateef,Adult,43,RESERVED,NaT,2024-03-28 02:42:13.890
1111438,f8861b2b-8c50-4d5c-a182-a56f52deda34,662de3b4970813403dde274b,C03,83884747483883,9025448517,boardbill_energy@yahoo.com,NIKE,Adult,53,RESERVED,NaT,2024-04-28 06:03:52.527
1111439,26457be7-aa90-4fc5-bfbb-2ccb060aaa9c,662de3b4970813403dde274b,C03,83884747483883,08060525746,boardbill_energy@yahoo.com,Kemi,Adult,49,RESERVED,NaT,2024-04-28 06:03:52.526
1111440,f5112150-6b6e-49c3-a6b6-5f735ee9eed8,6604b9e40363ff1edb534ff6,C07,6898989995,08067983296,boardbill_energy@yahoo.com,Lateef,Adult,45,RESERVED,NaT,2024-03-28 02:42:13.892
1111441,17a274f1-f922-4e01-b067-94a1051de7cd,66308cdeaa45367e8c9042a7,C01,4357785200,07013979503,renee@cashtoken.ng,Mrs Ijeoma Lai Labode,Adult,10,RESERVED,NaT,2024-04-30 06:39:03.059
1111442,c2c68778-037b-41e0-9e90-4544c2ec701d,663be7a5c33d045bd33d6ba2,C05,66502204994,08037175735,adeolaodney@yahoo.com,ADEOLA,Adult,45,RESERVED,NaT,2024-05-09 05:58:41.894
1111443,2c9fd246-8e79-4631-9831-a4e84a0e48e5,6604b9e40363ff1edb534ff6,C07,9898656565,07068012946,boardbill_energy@yahoo.com,Lateef,Adult,42,RESERVED,NaT,2024-03-28 02:42:13.889

In [8]:
validator_df.head(10)

,id,status,booking_id,validated_at,created_at,updated_at
0,40088ed3-7905-47a4-9967-bd7619bd19f6,Validated,6524f8251eda753504b7baee,2023-10-30 13:08:41.377,2023-10-30 13:08:41.377,2024-12-26 11:21:15.130
1,ea5222e1-2726-4f1d-a8b4-cfc519837cd8,Validated,6524f8251eda753504b7baee,2023-10-30 17:09:19.638,2023-10-30 17:09:19.638,2024-12-26 11:21:15.130
2,9b76edc4-070a-4a11-8b4b-28b267801c37,Validated,6524f8251eda753504b7baee,2023-10-30 17:57:10.715,2023-10-30 17:57:10.715,2024-12-26 11:21:15.130
3,7ea17577-523c-45a3-a8db-315baaed94f5,Validated,6524f8251eda753504b7baee,2023-10-31 09:48:34.541,2023-10-31 09:48:34.541,2024-12-26 11:21:15.130
4,8b03dee4-0352-4e1e-8c73-3daf31007065,Validated,6524f8251eda753504b7baee,2023-10-31 14:36:35.237,2023-10-31 14:36:35.237,2024-12-26 11:21:15.130
5,0009145f-bf56-41bd-bf6e-faa66093f1d6,Validated,6524f8251eda753504b7baee,2023-10-31 14:55:06.252,2023-10-31 14:55:06.252,2024-12-26 11:21:15.130
6,9ca19487-e16f-44c5-9922-fef2f028eb07,Validated,6524f8251eda753504b7baee,2023-10-31 14:55:19.591,2023-10-31 14:55:19.591,2024-12-26 11:21:15.130
7,7a9070ce-dfe0-4f55-b982-8a1cf88d5905,Validated,6524f8251eda753504b7baee,2023-11-01 06:30:34.450,2023-11-01 06:30:34.450,2024-12-26 11:21:15.130
8,61e1b9e7-4b92-42ff-8647-5065979304e3,Validated,6524f8251eda753504b7baee,2023-11-01 06:30:40.778,2023-11-01 06:30:40.778,2024-12-26 11:21:15.130
9,f96d4dfd-09a5-4428-8900-290ce1093b07,Validated,6524f8251eda753504b7baee,2023-11-01 06:30:53.961,2023-11-01 06:30:53.961,2024-12-26 11:21:15.130

In [9]:
user_df.head(10)

,id,booking_id,coach_name,passenger_identification_number,passenger_contact,passenger_email,passenger_name,passenger_type,seat_number,seat_type,created_at,updated_at
0,918c4b4c-eab6-42e3-8e8f-fcf5487226d3,653f81063aebe10d3bc7424d,C06,32209217951,8029958521,pushkarnanda@gmail.com,Pushkar Nanda,Adult,11,RESERVED,2023-10-30 10:10:14.147,2023-10-30 10:10:14.147
1,f59f10bd-7316-4459-a7c0-758d4aaeb2de,653f863c3aebe10d3bc74254,C04,57450869833,07033514566,qudus.k@gsds.com.ng,ABDULQUDUS ABDULKAREEM,Adult,8,RESERVED,2023-10-30 10:32:28.356,2023-10-30 10:32:28.356
2,e56dc3f5-7d2b-46c5-b0ab-fdf29d3777b4,653f86a13aebe10d3bc74257,C04,1234567890,7033514566,pushkarnanda@gmail.com,AbdulQudus,Adult,2,RESERVED,2023-10-30 10:34:09.897,2023-10-30 10:34:09.897
3,1589ee0c-53c9-4f50-99e9-fc6635651650,653f8c7a3aebe10d3bc7425f,C04,73556381645,8037751822,sadesina@assanoil.com,Sylvester Adesina,Adult,1,RESERVED,2023-10-30 10:59:06.863,2023-10-30 10:59:06.863
4,4cb30c7a-9ef1-4a75-8602-8f7888e2606d,653fd2204e4ca14d8928c345,C08,32209217951,8029958521,pushkarnanda@gmail.com,Pushkar Nanda,Adult,11,RESERVED,2023-10-30 15:56:16.645,2023-10-30 15:56:16.645
5,e5025bb8-6e1d-4848-933c-0d8a9c9e08a8,653fd4534e4ca14d8928c355,C08,32209217951,8029958521,pushkarnanda@gmail.com,Pushkar Nanda,Adult,9,RESERVED,2023-10-30 16:05:39.881,2023-10-30 16:05:39.881
6,77002dbb-1817-4c4a-a91a-d365c298b0f3,6540b0894e4ca14d8928cd30,C04,1234587965,8034261272,it@isngs.com,Okam,Adult,6,RESERVED,2023-10-31 07:45:13.320,2023-10-31 07:45:13.320
7,65306b9f-feae-4552-b8d6-4f44d314ed6d,6540c7b74e4ca14d8928cd3c,C03,12345678901,8112345678,test@mail.com,Test,Adult,1,RESERVED,2023-10-31 09:24:07.055,2023-10-31 09:24:07.055
8,1ba6cbe3-a9c8-459a-9e9e-9626388edc6c,6540dae14e4ca14d8928cd53,C04,12345678901,8141367066,test@mail.com,Test,Adult,1,RESERVED,2023-10-31 10:45:53.616,2023-10-31 10:45:53.616
9,6bae6e4d-0b52-4822-9ead-83e267d84907,6540dae14e4ca14d8928cd53,C04,11223344556,8141367066,test@mail.com,Tester,Child,2,RESERVED,2023-10-31 10:45:53.616,2023-10-31 10:45:53.616

In [ ]:
df.head(10)

,id,booking_date,booking_from,booking_to,coach_type_name,fultterwave_charge,gsd_cov_fee,gsd_tkt_rev,icrc_tkt_rev,insurance,...,total_fare,total_tkt_revenue,train_name,travel_date,type,user_name,user_type,created_at,route_name,poc_corporation_name
0,9f5c0e73-50ee-445f-8ad4-d50194ae1433,2023-10-30 10:10:14.140,Mobolaji Johnson Station Ebute Metta,Obafemi Awolowo Station Moniya,Standard Class,100.0,140.4,649.35,70.2,10.0,...,3600,3510.0,Lagos-Ibadan,2023-10-31,ONLINE,Pushkar Nanda,NORMAL_USER,2023-10-30 10:10:14.140,None,None
1,936130c1-1d28-401c-823e-b7abf3f1a045,2023-10-30 10:32:28.348,Mobolaji Johnson Station Ebute Metta,Ladoke Akintola Station Omi-Adio,Standard Class,100.0,140.4,649.35,70.2,10.0,...,3600,3510.0,Ibadan-Lagos,2023-10-31,ONLINE,ABDULQUDUS ABDULKAREEM,NORMAL_USER,2023-10-30 10:32:28.348,None,None
2,cb53e486-11a7-48f2-88f4-0f57d660e9ff,2023-10-30 10:34:09.889,Mobolaji Johnson Station Ebute Metta,Ladoke Akintola Station Omi-Adio,Standard Class,100.0,140.4,649.35,70.2,10.0,...,3600,3510.0,Lagos-Ibadan,2023-10-31,ONLINE,Pushkar Nanda,NORMAL_USER,2023-10-30 10:34:09.890,None,None
3,0be505fc-62bf-49bb-9b13-887c3204479d,2023-10-30 10:59:06.856,Babatunde Raji Fashola Station Agege,Mobolaji Johnson Station Ebute Metta,Standard Class,100.0,78.0,353.35,38.2,10.0,...,2000,1910.0,Ibadan-Lagos,2023-10-31,ONLINE,Sylvester Adesina,NORMAL_USER,2023-10-30 10:59:06.857,None,None
4,2e9b6b37-10eb-48d0-9e0a-b1a87c0b5f9c,2023-10-30 15:56:16.627,Mobolaji Johnson Station Ebute Metta,Obafemi Awolowo Station Moniya,Standard Class,100.0,140.4,649.35,70.2,10.0,...,3934,3510.0,Lagos-Ibadan,2023-10-31,ONLINE,Pushkar Nanda,NORMAL_USER,2023-10-30 15:56:16.628,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800002,5bc7758a-6393-4efd-9826-987b4a744dfe,2025-04-16 12:52:29.061,Mobolaji Johnson Station Ebute Metta,Professor Wole Soyinka Station Abeokuta,Standard Class,0.0,117.0,538.35,58.2,10.0,...,3195,2910.0,Lagos-Ibadan Morning Train,2025-04-18,ONLINE,Mayowa ADEGBOLA,NORMAL_USER,2025-04-16 12:52:29.182,LAGOS-IBADAN_LITS,None
800003,5b5e7505-f6ce-4a17-80d8-7012a57a0ea4,2025-04-16 12:52:35.984,Mobolaji Johnson Station Ebute Metta,Obafemi Awolowo Station Moniya,Standard Class,0.0,140.4,649.35,70.2,10.0,...,3834,3510.0,Lagos-Ibadan_Evening Train,2025-04-16,ONLINE,Onome Ovadje,NORMAL_USER,2025-04-16 12:52:36.094,LAGOS-IBADAN_LITS,None
800004,750cbe1a-538a-4623-8861-0b502ea200e3,2025-04-16 12:52:39.843,Obafemi Awolowo Station Moniya,Professor Wole Soyinka Station Abeokuta,Standard Class,0.0,78.0,353.35,38.2,10.0,...,2130,1910.0,Ibadan-Lagos_Evening Train,2025-04-16,ONLINE,Hassan Abdulazeez,NORMAL_USER,2025-04-16 12:52:39.956,Ibadan-Lagos,None
800005,e030923a-4f9e-4636-a2ff-3091959e54f5,2025-04-16 12:52:40.178,Babatunde Raji Fashola Station Agege,Obafemi Awolowo Station Moniya,Standard Class,0.0,140.4,649.35,70.2,10.0,...,3834,3510.0,Lagos-Ibadan_Evening Train,2025-04-16,ONLINE,Adedayo Fajimi,NORMAL_USER,2025-04-16 12:52:40.287,LAGOS-IBADAN_LITS,None
800006,5d8a064b-713b-40dd-8e7d-1c370c7543ba,2025-04-16 12:52:41.977,Obafemi Awolowo Station Moniya,Lateef Kayode Jakande Station Agbado,Standard Class,0.0,140.4,649.35,70.2,10.0,...,3834,3510.0,Ibadan-Lagos_Evening Train,2025-04-17,ONLINE,Feyintoluwa Afolabi,NORMAL_USER,2025-04-16 12:52:42.091,Ibadan-Lagos,None

In [ ]:
print(columns)

['booking_date', 'booking_from', 'booking_to', 'coach_type_name', 'fultterwave_charge', 'gsd_cov_fee', 'gsd_tkt_rev', 'icrc_tkt_rev', 'insurance', 'medical', 'nrc_cov_fee', 'nrc_tkt_rev', 'no_of_passengers', 'pnr_number', 'seat_type', 'stamp_duty', 'booking_status', 'total_cov_fee', 'total_fare', 'total_tkt_revenue', 'train_name', 'travel_date', 'type', 'user_name', 'user_type', 'route_name', 'poc_corporation_name']

In [ ]:
df = pd.DataFrame(data, columns=columns)
df

,booking_date,booking_from,booking_to,coach_type_name,fultterwave_charge,gsd_cov_fee,gsd_tkt_rev,icrc_tkt_rev,insurance,medical,...,total_cov_fee,total_fare,total_tkt_revenue,train_name,travel_date,type,user_name,user_type,route_name,poc_corporation_name
0,2023-10-30 10:10:14.140,Mobolaji Johnson Station Ebute Metta,Obafemi Awolowo Station Moniya,Standard Class,100.0,140.4,649.35,70.2,10.0,30.0,...,234.0,3600,3510.0,Lagos-Ibadan,2023-10-31,ONLINE,Pushkar Nanda,NORMAL_USER,None,None
1,2023-10-30 10:32:28.348,Mobolaji Johnson Station Ebute Metta,Ladoke Akintola Station Omi-Adio,Standard Class,100.0,140.4,649.35,70.2,10.0,30.0,...,234.0,3600,3510.0,Ibadan-Lagos,2023-10-31,ONLINE,ABDULQUDUS ABDULKAREEM,NORMAL_USER,None,None
2,2023-10-30 10:34:09.889,Mobolaji Johnson Station Ebute Metta,Ladoke Akintola Station Omi-Adio,Standard Class,100.0,140.4,649.35,70.2,10.0,30.0,...,234.0,3600,3510.0,Lagos-Ibadan,2023-10-31,ONLINE,Pushkar Nanda,NORMAL_USER,None,None
3,2023-10-30 10:59:06.856,Babatunde Raji Fashola Station Agege,Mobolaji Johnson Station Ebute Metta,Standard Class,100.0,78.0,353.35,38.2,10.0,30.0,...,130.0,2000,1910.0,Ibadan-Lagos,2023-10-31,ONLINE,Sylvester Adesina,NORMAL_USER,None,None
4,2023-10-30 15:56:16.627,Mobolaji Johnson Station Ebute Metta,Obafemi Awolowo Station Moniya,Standard Class,100.0,140.4,649.35,70.2,10.0,30.0,...,234.0,3934,3510.0,Lagos-Ibadan,2023-10-31,ONLINE,Pushkar Nanda,NORMAL_USER,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795332,2025-04-14 07:12:08.979,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Business Class,0.0,0.0,1640.95,177.4,20.0,60.0,...,0.0,9000,8870.0,Ibadan-Lagos Morning Train,2025-04-14,OFFLINE,Raji Waliyat,STAFF_CLIENT,Ibadan-Lagos,None
795333,2025-04-14 07:13:12.814,Olu Funmilayo Ransome Kuti Papalanto,Mobolaji Johnson Station Ebute Metta,Standard Class,0.0,0.0,538.35,58.2,10.0,30.0,...,0.0,3000,2910.0,Ibadan-Lagos Morning Train,2025-04-14,OFFLINE,Bello Kubura,STAFF_CLIENT,Ibadan-Lagos,None
795334,2025-04-14 07:13:17.304,Professor Wole Soyinka Station Abeokuta,Lateef Kayode Jakande Station Agbado,First Class,0.0,234.0,1093.35,118.2,10.0,30.0,...,390.0,6390,5910.0,Ibadan-Lagos Morning Train,2025-04-16,ONLINE,Solomon Gattah,NORMAL_USER,Ibadan-Lagos,None
795335,2025-04-14 07:13:30.915,Lateef Kayode Jakande Station Agbado,Obafemi Awolowo Station Moniya,Standard Class,0.0,0.0,649.35,70.2,10.0,30.0,...,0.0,3600,3510.0,Lagos-Ibadan Morning Train,2025-04-14,OFFLINE,LKJ EXIT,STAFF_CLIENT,LAGOS-IBADAN_LITS,None
795336,2025-04-14 07:13:50.401,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Business Class,0.0,0.0,1640.95,177.4,20.0,60.0,...,0.0,9000,8870.0,Ibadan-Lagos Morning Train,2025-04-14,OFFLINE,Raji Waliyat,STAFF_CLIENT,Ibadan-Lagos,None

In [ ]:
username = 'Raji Waliyat'

if username:
        dff = df[df["user_name"] == username]

In [ ]:
dff

,booking_date,booking_from,booking_to,coach_type_name,fultterwave_charge,gsd_cov_fee,gsd_tkt_rev,icrc_tkt_rev,insurance,medical,...,total_cov_fee,total_fare,total_tkt_revenue,train_name,travel_date,type,user_name,user_type,route_name,poc_corporation_name
32303,2023-12-11 05:58:13.815,Professor Wole Soyinka Station Abeokuta,Obafemi Awolowo Station Moniya,Standard Class,100.0,0.0,697.45,75.4,20.0,60.0,...,0.0,4000,3770.0,Lagos-Ibadan,2023-12-11,OFFLINE,Raji Waliyat,STAFF_CLIENT,None,None
32317,2023-12-11 06:03:05.144,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Standard Class,100.0,0.0,519.85,56.2,10.0,30.0,...,0.0,3000,2810.0,Ibadan-Lagos,2023-12-11,OFFLINE,Raji Waliyat,STAFF_CLIENT,None,None
32370,2023-12-11 06:20:56.568,Professor Wole Soyinka Station Abeokuta,Obafemi Awolowo Station Moniya,Standard Class,100.0,0.0,334.85,36.2,10.0,30.0,...,0.0,2000,1810.0,Lagos-Ibadan,2023-12-11,OFFLINE,Raji Waliyat,STAFF_CLIENT,None,None
32398,2023-12-11 06:26:04.082,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Standard Class,100.0,0.0,1067.45,115.4,20.0,60.0,...,0.0,6000,5770.0,Ibadan-Lagos,2023-12-11,OFFLINE,Raji Waliyat,STAFF_CLIENT,None,None
32422,2023-12-11 06:31:47.104,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Standard Class,100.0,0.0,1067.45,115.4,20.0,60.0,...,0.0,6000,5770.0,Ibadan-Lagos,2023-12-11,OFFLINE,Raji Waliyat,STAFF_CLIENT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795298,2025-04-14 07:02:11.367,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Business Class,0.0,0.0,815.85,88.2,10.0,30.0,...,0.0,4500,4410.0,Ibadan-Lagos Morning Train,2025-04-14,OFFLINE,Raji Waliyat,STAFF_CLIENT,Ibadan-Lagos,None
795303,2025-04-14 07:03:25.574,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Standard Class,0.0,0.0,1085.95,117.4,20.0,60.0,...,0.0,6000,5870.0,Ibadan-Lagos Morning Train,2025-04-14,OFFLINE,Raji Waliyat,STAFF_CLIENT,Ibadan-Lagos,None
795316,2025-04-14 07:07:59.209,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Business Class,0.0,0.0,815.85,88.2,10.0,30.0,...,0.0,4500,4410.0,Ibadan-Lagos Morning Train,2025-04-14,OFFLINE,Raji Waliyat,STAFF_CLIENT,Ibadan-Lagos,None
795332,2025-04-14 07:12:08.979,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Business Class,0.0,0.0,1640.95,177.4,20.0,60.0,...,0.0,9000,8870.0,Ibadan-Lagos Morning Train,2025-04-14,OFFLINE,Raji Waliyat,STAFF_CLIENT,Ibadan-Lagos,None
795336,2025-04-14 07:13:50.401,Professor Wole Soyinka Station Abeokuta,Mobolaji Johnson Station Ebute Metta,Business Class,0.0,0.0,1640.95,177.4,20.0,60.0,...,0.0,9000,8870.0,Ibadan-Lagos Morning Train,2025-04-14,OFFLINE,Raji Waliyat,STAFF_CLIENT,Ibadan-Lagos,None

In [ ]:



# Convert 'Booking Date' column to date format
dff["booking_date"] = pd.to_datetime(dff["booking_date"]).dt.date
if "today" in date_filter:
#dff['Booking Date'] = pd.to_datetime(dff['Booking Date'], utc=True)
#dff['Booking Date'] = dff['Booking Date'].dt.tz_localize(None)
today_date = datetime.today().date()
print(today_date)
dff = dff[dff["Booking Date"].dt.date == today_date]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795337 entries, 0 to 795336
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   booking_date          795337 non-null  datetime64[ns]
 1   booking_from          795337 non-null  object
 2   booking_to            795337 non-null  object
 3   coach_type_name       795337 non-null  object
 4   fultterwave_charge    795325 non-null  float64
 5   gsd_cov_fee           795325 non-null  float64
 6   gsd_tkt_rev           795324 non-null  float64
 7   icrc_tkt_rev          795324 non-null  float64
 8   insurance             795324 non-null  float64
 9   medical               795324 non-null  float64
 10  nrc_cov_fee           795325 non-null  float64
 11  nrc_tkt_rev           795324 non-null  float64
 12  no_of_passengers      795337 non-null  int64
 13  pnr_number            795337 non-null  object
 14  seat_type             795337 non-null  object
 15  stamp_duty            795324 non-null  float64
 16  booking_status        795337 non-null  object
 17  total_cov_fee         795325 non-null  float64
 18  total_fare            795337 non-null  int64
 19  total_tkt_revenue     795324 non-null  float64
 20  train_name            795337 non-null  object
 21  travel_date           795337 non-null  datetime64[ns]
 22  type                  795337 non-null  object
 23  user_name             795337 non-null  object
 24  user_type             795337 non-null  object
 25  route_name            636904 non-null  object
 26  poc_corporation_name  186 non-null     object
dtypes: datetime64[ns](2), float64(11), int64(2), object(12)
memory usage: 163.8+ MB

In [ ]:
df['route_name'].unique()

array([None, 'Lagos-Ibadan', 'Ibadan-Lagos', 'KAJOLA-APAPA',
       'APAPA-KAJOLA', 'LAGOS-IBADAN_LITS', 'KAJOLA-APAPA_BAT',
       'Lagos-Ibadan_Afternoon', 'Ibadan-Lagos_Afternoon'], dtype=object)

In [ ]:
min = df['booking_date'].min()
max = df['booking_date'].max()

In [ ]:
print(min)
print(max)

2023-10-30 10:10:14.140000
2025-04-05 06:07:28.271000

In [ ]:
summary_df = df.groupby('booking_from').agg({
    'total_fare': 'sum',
    'medical': 'sum',
    'insurance':'sum',
    'stamp_duty': 'sum',
    'total_tkt_revenue': 'sum',
    'total_cov_fee': 'sum',
    'nrc_cov_fee':'sum',
    'nrc_tkt_rev':'sum',
    'gsd_tkt_rev':'sum',
    'gsd_cov_fee':'sum',
    'icrc_tkt_rev':'sum', 
    'no_of_passengers':'count'
}).reset_index()

In [ ]:
# dbc.Col([
#              html.H4("Every Sale", className="bg-success text-white text-center rounded m-0"),
#              dbc.Col(dcc.Graph(id="daily-transactions", config={'responsive': True}), #figure=fig1,
#                  className="bg-white shadow rounded mb-4 border",xs=12, sm=12, md=12, lg=12),
#         ], className="mt-4"),

In [ ]:
# # html.H4(" Table", className="bg-success text-white text-center rounded m-0"),
#         dbc.Col(group_table, className="bg-white shadow rounded mb-4 border ms-4", width=6, xs=12, sm=12, md=12, lg=6),
#         # html.H4(" Table", className="bg-success text-white text-center rounded m-0"),
#         dbc.Col(class_table, className="bg-white shadow rounded mb-4 border ms-5", width=5, xs=12, sm=12, md=12, lg=5),

In [ ]:
dbc.Col(user_data_table, className="bg-white shadow rounded mb-4 border", width=6),
        #dbc.Col(class_table, className="bg-white shadow rounded mb-4 border", width=6),

In [ ]:
dbc.Col(dcc.Graph(figure=fig2, id="daily-transactions", config={'responsive': True}),
                className="bg-white shadow rounded mb-4 border ms-4", width=5, xs=12, sm=12, md=12, lg=5),
        dbc.Col(dcc.Graph(figure=fig3, id="coachtype-pie", config={'responsive': True}),
                className="bg-white shadow rounded mb-4 border ms-4", width=5, xs=12, sm=12, md=12, lg=5),

In [ ]:
dbc.Col(dcc.Graph(figure=fig4, id="coachtype-bar", config={'responsive': True}),
                className="bg-white shadow rounded mb-4 border ms-4", width=5, xs=12, sm=12, md=12, lg=5),
        dbc.Col(dcc.Graph(figure=fig5, id="stationtype-bar", config={'responsive': True}),
                className="bg-white shadow rounded mb-4 border ms-4", width=5, xs=12, sm=12, md=12, lg=5),
    ]),

In [ ]:
dbc.Row([
    
        dbc.Col(dash_table.DataTable(id="summary-table",
                columns=[{"name": i, "id": i} for i in df.columns],
                data=[],
                 style_table={'overflowX': 'auto'},
                style_cell={'textAlign': 'center'},
                page_size=10                 
                ), 
                className="shadow rounded mb-4 border", width=12, xs=12) #table, 
    ], className="mt-3"),